.mobile {
	.user-other-container {
		width: 100%;
	}
	#other-interest-list {
		width: 90%;
	}
	.main-profile-info.other {
		width: 90%;
		padding-top: 20px;

	}
	#main-profile-container {
		margin-top: 100px;
		height: 200px;
		float: left;
	}
	.interests.other {
		overflow: scroll;
		height: calc(100% - 300px) ;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		-webkit-transform: translateZ(0px);
	}
	.cat-group.other {
		width: 48%;
	}
	.act-name.other {
		font-size: 30px;
	}
	.interest-sort {
		font-size: 35px;
	}
	.cat-header {
		font-size: 55px;
	}
	#name {
		font-size: 100px;
		margin-top: 5px;
	}
	#school {
		font-size: 30px;
	}
	#chat-other {
		float: right;
		font-size: 30px;
		color: white;
	}
	.right.other {
		font-size: 30px;
		color: white;
	}
	.other-instructions {
		font-size: 30px;
	}
	.int-type.selected {
		padding-left: 12px;
		padding-right: 12px;
	}
	.cat-name {
		font-size: 45px;
		line-height: 1.2;
	}
	.category {
		height: 50px;
	}

}