@import '../variables';

.mobile.container {
	background-image: image_url("mobile-background.jpg");
}

// .touch-scroll {
// 	-webkit-overflow-scrolling: touch;
// 	overflow: scroll;
// }

#main-info.mobile {
	margin-left: 0px;
	width: 100%;
}

.landing-logo.mobile {
	text-align: center;
	font-size: 70px;
	margin-top: 10%px;
	margin-bottom: 15%px;
}

.landing-desc.mobile {
	width: 100%;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: -20px;
}

.mobile.sign-up-box {
	background: none;
	width: calc(100% - 20px);
	margin: 0 auto;
	float: none;
	margin-top: 25%;
	height: 50px;
}

.mobile.fb-sign-up-btn {
	width: 100%;
	border-radius: 100px;
	margin-left: 0px;
	height: 62px;
    box-sizing: border-box;
    padding: 15px 15px 15px 28px;
}

.fb-logo .mobile.fb-letter {
	height: 32px;
	width: 32px;
}

.mobile.fb-logo {
	height: 32px;
	width: 32px;
    margin: 0px;
}

.fb-sign-up-btn .mobile.sign-up-text {
	margin: 0px;
	font-size: 17px;
    float: left;
    line-height: 1.9;
    padding-left: 20px;
}

.mobile.conditions {
	font-size: 12px;
    font-weight: 300px;
    margin: 8px 0px;
}