@import '../variables';


#search-container.mobile.big-search {
	height: auto;
	float: left;
	position: relative;

}

.big-search .search-top {
	background-color: $light-turq;
	background-image: none;
}

.big-search #query-interests.mobile {
	padding-bottom: 7px;
}

.mobile .search-term.searched {
	height: 25px;
}


.big-search .search-bottom {
	background-color: $light-turq;
}

#results-container.mobile.big-search {
	height: auto;
	float: left;
	background-color: $super-light-gray;
}

.big-search #results {
	background-color: $super-light-gray;
}

.mobile .result {
	width: 95%;
	height: 130px;
	margin: 0 auto;
	float: none;
	position: relative;
	margin-bottom: 7px;
}

.mobile .result:nth-child(2n) {
	margin: 0 auto;
	margin-bottom: 7px;
}

.mobile .profile-pic-card {
	border-radius: 33px;
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-top: 10px;
}

.mobile .card-name {
	margin-top: 10px;
	font-size: 20px;
	width: 200px;
	text-align: left;
}

.mobile .card-school {
	clear: none;
	text-align: left;
	font-size: 10px;
	width: 200px;
}

.big-search .mobile .chat {
	position: absolute;
	top: 10px;
	right: 10px;
	.action-icon {
		height: 32px;
		width: 32px;
	}
}

.mobile .suggestions {
	width: 95%;
	margin: 0 auto;
	float: none;
	max-height: px;
}

.mobile {
	.similarities {
		position: static;
	}
	.mutual {
		width: 42px;
		margin-left: 0px;
		margin-top: 16px;
	}
	.similar {
		width: 42px;
		margin-left: 30%;
		margin-top: 16px;
	}
	.sug-label {
		font-size: 10px;
		color: $turq;
	}
	.sim-label {
		height: 22px;
		width: 22px;
	}
	.sim {
		font-size: 16px;
		margin-top: 4px;
	}
	.gender {
		width:	42px;
		margin-top: 16px;
		float: right;
	}
}

.sim-info {
	margin-top: 10px;
	width: 95%;
	margin: 0 auto;
}

.mobile .suggestion {
	font-size: 10px;
	height: 12px;
}

.quick-search-button {
	width: 33px;
	position: absolute;
	bottom: 7px;
	right: 7px;
}

.mobile #no-one-around {
	height: 90%;
}

.big-search #no-one-text {
	font-size: 20px;
	padding-top: 3%;
}



