@import '../variables';

.mobile .message-content {
	background-image: none;
	width: 100%;
	overflow-x: hidden;
}

.mobile {
	.message-form {
		height: 44px;
	}
	.message-action .action-button {

	}
}

.top-nav .menu-title .top-pic {
	float: none;
	width: 30px;
	height: 30px;
	border-radius: 100px;
}

.top-name {

}

.mobile {
	#conversations {
		margin-top: 0px;
		width: 100%;
		height: 90%;
		overflow-x: hidden; 
	}
	.conversation {
		width: 100%;
		border-bottom: 1px solid $super-light-gray;
		height: 64px;
        padding: 0px 10px;
        box-sizing: border-box;
	}
	.convo-pic {
		height: 50px;
		width: 50px;
		border-radius: 25px;
		margin: 6px 0px;
	}
	.convo-name {
		font-size: 17px;
		margin: 0px;
        font-weight: 400;
	}
	.convo-last-message {
		font-size: 15px;
		margin: 0px;
		color: $gray;
		width: 210px;
        font-weight: 300;
	}
	.convo-link {
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

///////////////////


.mobile {
	#thread-container {
		width: 100%;
		background: white;
	}
	#messages-box {
		width: 100%;
		margin-top: 0px;
		position: relative;
		height: calc(100% - 44px);
		background: white;
	}
	.message-history {
		width: 95%;
		margin: 0 auto;
		height: calc(100% - 88px);
		margin-top: 44px;
		text-align: center;
	}
	.date {
		float: none;
		clear: both;
		font-size: 12px;
        margin: 8px 0px;
        padding: 0px;
        font-weight: 300;
	}
	.message {
		font-size: 15px;
		border-radius: 10px;
		max-width: 75%;
		padding: 8px 12px;
        margin: 0px 0px 6px 0px;
	}
	.message-form {
		background: $super-light-gray;
        box-sizing: border-box;
	}
	#message-actions {
		height: 100%;
		width: 18%;
		float: right;
		margin: 0px;
	}
	.action-button.mes-action {
		background: none;
		width: 100%;
        height: 100%;
		padding: 0px;
		margin-top: 0px;
		.result-action {
			color: $dark-gray;
			font-size: 17px;
			font-weight: 300;
			line-height: 2.5;
			width: 100%;
			height: 100%;
            margin: 0px;
            padding: 0px 0px 0px 10px;
            box-sizing: border-box;
			
		}
	}

	#chat-box {
		height: 32px;
		width: 75%;
		font-size: 15px;
		border-radius: 16px;
        margin: 6px 0px 6px 10px;
        padding: 6px 12px;
        border: none;
        box-sizing: border-box;
	}
}


///////////////////////////////////////

.mobile.chat-partial {
	width: 100%;
}

.mobile {
	#chat-partial-content {
		margin-left: 0px;
		float: none;
	}
	.chat-partial.message-history {
		height: calc(100% - 80px);
		margin-top: 44px;
	}
}


