@import '../variables';

.mobile {
	#faq-content {
		width: 100%;
		float: left;
		background:	white;
		height: calc(100% - 44px);
		position: relative;
	} //  6 + 3*(36) + 85 + 8 + 50 + 5 40
	#faq-questions {
	}
	.faq-question {
		width: auto;
		float: left;
		margin-left: 6px;
		font-size: 17px;
		font-weight: 300;
	}
	.settings-input {
		float: right;
		margin-right: 7px;
		width: 200px;
		font-size: 17px;
		font-weight: 300;
	}
	.settings-group {
		float: left;
		clear: left;
		width: 100%;
		background: $super-light-gray;
		margin-bottom: 5px;
		padding-top: 5px;
		height: 31px;
	}
	.settings-group.notifications {
		height: 80px;
	}
	.settings-input {
		margin-left: 10px;
		height: 20px;
	}
	.settings-group label {
		height: 20px;
		float: right;
		clear: right;
		margin-right: 7px;
		font-size: 17px;
		font-weight: 300;
		background: $light-gray;
		color: $dark-gray;
		border-radius: 16px;
		padding-left: 6px;
		padding-right: 6px;
		margin-bottom: 5px;
		width: 145px;
		text-align: left;
	}
	label.enabled {
		color: white;
		background: $light-turq;
	}
	.notification-setting input {
		opacity: 0;
	}
	.notification-setting {
		margin-top: 0px;
	}
	.settings-label.first {
		margin-top: -8px;
	}
	.notifications .faq-question {
		margin-bottom: -10px;
	}
	.lgbtq-container {
		margin-top: 0px;
		input {
			opacity: 0;
		}
	}
	.settings-group.lgbtq {
		height: 45px;
	}
	#lbgtq-text {
		float: left;
		margin-top: -15px;
		width: calc(100% - 12px);
		margin-left: 6px;
		font-size: 10px;
	}
	#save-settings {
		height: 40px;
		bottom: 0;
		border-radius: 0px;
		font-size: 23px;
		width: 100%;
		-webkit-appearance: none;
  	-webkit-border-radius: 0;
  	-webkit-border-radius: 0px;
	}
	#delete-account {
		width: 100%;
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	#delete-modal {
		width: 80%;
		height: 30%;
	}
	#delete-text {
		font-size: 13px;
		width: 100%;
	}
	#delete-actions {
		width: 100%;
	}
	#cancel-delete {
		width: 40%;
		margin-left: 5%;
		height: 33px; 
		font-size: 27px;
	}
	#confirm-delete {
		width: 40%;
		margin-left: 5%;
		height: 33px;
		font-size: 27px;
	}
	#save-settings:hover {
		background: $light-turq;
		color: white;
	}
}