@import '../variables';

.mobile {
	#faq-content {
		width: 100%;
		float: left;
		background:	white;
		height: calc(100% - 84px);
		position: fixed;
		overflow-y: scroll;
		 
	} //  6 + 3*(36) + 85 + 8 + 50 + 5 40
	#faq-questions {
	}
	.faq-question {
		width: auto;
		float: left;
		margin: 0px;
		font-size: 17px;
		font-weight: 300;
	}
	.settings-input {
		float: right;
		margin-right: 7px;
		width: 200px;
		font-size: 17px;
		font-weight: 300;
	}
	.settings-group {
		float: left;
		clear: left;
		width: 100%;
		background: $super-light-gray;
		margin-bottom: 8px;
		padding-top: 6px;
		height: 45px;
    line-height: 2;
    box-sizing: border-box; 
    padding-left: 10px;

	}
	.settings-group.notifications {
		height: auto;
	}
	.settings-input {
		margin: 0px 10px 0px 0px;
		height: 31px;
	}
	.settings-group label {
		height: 31px;
		float: right;
		clear: right;
		margin-right: 7px;
		font-size: 17px;
		font-weight: 300;
		background: $light-gray;
		color: $dark-gray;
		border-radius: 16px;
		margin-bottom: 6px;
		width: 60%;
		text-align: left;
        box-sizing: border-box;
        padding-left: 12px;
        margin-left: 0px;
        line-height: 1.9;
	}
	label.enabled {
		color: white;
		background: $light-turq;
	}
	.notification-setting input {
		opacity: 0;
	}
	.notification-setting {
		margin-top: 0px;
	}
	.settings-label.first {
		margin-top: 0px;
	}
	.notifications .faq-question {
		margin-bottom: -10px;
	}
	.lgbtq-container {
		margin-top: 0px;
		input {
			opacity: 0;
		}
	}
	.settings-group.lgbtq {
		height: 100%;
	}
	#lbgtq-text {
		float: left;
		width: calc(100% - 12px);
		font-size: 15px;
        line-height: 1.2;
        margin: -6px 0px 8px 0px;
	}
	#save-settings {
		height: 40px;
		bottom: 0;
		border-radius: 0px;
		font-size: 23px;
		width: 100%;
		-webkit-appearance: none;
  	-webkit-border-radius: 0;
  	-webkit-border-radius: 0px;
	}
	#delete-account {
		width: 100%;
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	#delete-modal {
		width: 80%;
		height: 30%;
	}
	#delete-text {
		font-size: 13px;
		width: 100%;
	}
	#delete-actions {
		width: 100%;
	}
	#cancel-delete {
		width: 40%;
		margin-left: 5%;
		height: 33px; 
		font-size: 27px;
	}
	#confirm-delete {
		width: 40%;
		margin-left: 5%;
		height: 33px;
		font-size: 27px;
	}
	#save-settings:hover {
		background: $light-turq;
		color: white;
	}
	#save-settings-button {
		position: fixed;
		bottom: 0;
		height: 40px;
		border-radius: 0px;
		font-size: 23px;
		text-align: center;
		background-color: $light-turq;
		color: white;
		width: 100%;
	}
	.save-text {
		margin-top: 7px;
	}
}