.mobile {
	.user-other-container {
		width: 100%;
	}
	#other-interest-list {
		width: 90%;
	}
	.main-profile-info.other {
		width: 90%;
		padding-top: 6px;

	}
	#main-profile-container {
		margin-top: 33px;
		height: 65px;
		float: left;
	}
	.interests.other {
		overflow: scroll;
		height: calc(100% - 100px) ;
		width: 100%;
		-webkit-transform: translateZ(0px);
	}
	.cat-group.other {
		width: 48%;
	}
	.act-name.other {
		font-size: 10px;
	}
	.interest-sort {
		font-size: 11px;
	}
	.cat-header {
		font-size: 18px;
	}
	#name {
		font-size: 33px;
		margin-top: 5px;
	}
	#school {
		font-size: 10px;
	}
	#chat-other {
		float: right;
		font-size: 10px;
		color: white;
	}
	.right.other {
		font-size: 10px;
		color: white;
	}
	.other-instructions {
		font-size: 10px;
	}
	.int-type.selected {
		padding-left: 4px;
		padding-right: 4px;
	}
	.cat-name {
		font-size: 15px;
		line-height: 1.2;
	}
	.category {
		height: 17px;
	}

}