.mobile {
	#main-profile-container {
		margin-top: 100px;
	}
	.cat-group.other {
		width: 48%;
	}
	.act-name.other {
		font-size: 30px;
	}
	.interest-sort {
		font-size: 35px;
	}
	.cat-header {
		font-size: 55px;
	}
}