@import '../variables';

.mobile.container {
	background-image: image_url("mobile-background.jpg");
}

// .touch-scroll {
// 	-webkit-overflow-scrolling: touch;
// 	overflow: scroll;
// }

#main-info.mobile {
	margin-left: 0px;
	width: 100%;
}

.landing-logo.mobile {
	text-align: center;
	font-size: 70px;
	margin-top: 44px;
}

.landing-desc.mobile {
	width: 100%;
	font-size: 50px;
	margin-top: 15px;
	text-align: center;
	margin-bottom: -10px;
}

.mobile.sign-up-box {
	background: none;
	width: 80%;
	margin: 0 auto;
	float: none;
	margin-top: 35%;
}

.mobile.fb-sign-up-btn {
	width: 100%;
	border-radius: 100px;
	margin-left: 0px;
	height: 130px;
}

.fb-logo .mobile.fb-letter {
	height: 70px;
	width: 70px;
}

.mobile.fb-logo {
	height: 70px;
	width: 70px;
	margin-left: 50px;
	margin-top: 34px;
}

.fb-sign-up-btn .mobile.sign-up-text {
	margin-right: 12%;
	margin-top: 5%;
	font-size: 50px;
}

.mobile.conditions {
	font-size: 30px;
}