@import '../variables';

.top-nav {
	height: 44px;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
	border: 1px solid white;
	margin-top: -1px;
}

.menu-icon {
	height: 25px;
	width: 25px;
	margin-top: 10px;
}

.menu-title {
	font-family: $logo-font;
	font-style: italic;
	color: $light-turq;
	font-weight: 400;
	font-size: 25px;
	line-height: 44px;
}


.menu-icon.left {
	float: left;
	margin-left: 10px;
}

.menu-icon.right {
	float: right;
	margin-right: 10px;
}

.content-container.mobile {
	height: calc(100% - 44px)
}


////////////////////////////


.top-nav-content {
	background: white;
	height: 100%;
	width: 80%;
	left: 0;
	position: fixed;
	z-index: 100;
}

.top-nav-content .icon-label {
	opacity: 1;
	color: $light-turq;
}

.mobile {
	.mob-nav {
		height: 44px;
		border-bottom: 1px solid $super-light-gray;
		padding-bottom: 10px;
		.svg path {
			fill: $light-turq;
		}
		.nav-icon {
			height: 27px;
			width: 27px;
		}
		.icon-label.main {
			width: 80%;
			font-size: 15px;
			font-family: $generic-font;
			left: 55px;
			top: 4px;
		}
	}
	.settings.side-icon {
		margin-left: 0px;
		position: absolute;
		.icon-label.main {
			width: 170px;
		}
	}
}
