@import '../variables';

.next-tut {
	font-family: $generic-font;
	color: $light-turq;
	font-size: 15px;
	position: fixed;
	right: 0;
	top: 0;
	padding: 10px;
	padding-top: 13px;
}

.back-tut {
	font-family: $generic-font;
	color: $light-turq;
	font-size: 15px;
	position: fixed;
	padding: 10px;
	padding-top: 13px;
	left: 0;
	top: 0;
}

.tutorial-container {
	width: 100%;
	height: 100%;
	float: left;
	background: white;
}

#tutorial-form {
	margin-left: 20px;
	float: left;
}

.tut-question {
	font-size: 15px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 10px;
	color: $dark-gray;
	float: left;
	clear: left;
}

#tut-school {
	height: 30px;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 250px;
	background-color: $super-light-gray;
	color: $dark-gray;
	float: left;
	clear: left;
	border: none;
	border-radius: 50px;
    font-family: "proxima nova";
}

.tut-instructions {
	color: $light-gray;
	float: left;
	clear: left;
    font-size: 15px;
    font-weight: 300;
}


.characters-box {
	width: 300px;
	height: 300px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
	background: white;
}

.char {
	width: 92px;
	height: 92px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.char.highlighted {
	background-color: $light-turq;
}

.char.highlighted .svg path {
	fill: white;
}

.char.highlighted .svg polygon {
	fill: white;
}

.char.highlighted .char-label {
	color: white;
}


.char-button {
	background: $orange;
	color: white;
	text-align: center;
}

.char-text {
	width: 100%;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
}

.char-label {
	color: $dark-gray;
	text-align: center;
	line-height: 1.2;
    font-size: 15px;
    font-weight: 300;
}

.char-image {
	width: 35px;
	height: 35px;
    margin: 0px 18px;
}

.char:nth-child(3n) {
	margin-right: 0px;
}

//////////////////////////////////////////////////////////////////////

.interests-self.tut {
	margin-top: 0px;
}

.all-scroll-acts.tut {
	max-height: calc(100% - 134px);
}

.profile-actions.tut {
	bottom: 0px;
}

.tut-header {
	color: $orange;
	font-family: $generic-font;
	font-size: 15px;
	margin-top: 13px;
}

.tut-header.finished {
    color: white;
    background-color: $light-turq;
    width: 40%;
    margin: 7px auto;
    border-radius: 100px;
    height: 32px;
    padding: 5px 5px;
    box-sizing: border-box;
    line-height: 1.4;
}

#int-number {
	width: 25px;
	height: 25px;
	color: white;
	background-color: $orange;
	padding: 5px 10px;
	border-radius: 100px; 
}


/////////////////////////////////////////////////////////


#welcome-tut {
	width: 100%;
	float: left;
	background: white;
	position: relative;
    height: 100%;
}

.welcome-text {
	float: left;
	width: 100%;
}

.instructions-1.wel-text {
	font-weight: 400;
	margin-left: 10px;
}

.wel-text {
	font-size: 17px;
	float: left;
	font-weight: 300;
    margin: 5px 10px;
}

.wel-text.s-s {
	margin-left: 10px;
}

.welcome-similarities {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.wel-group {
	width: 145px;
	text-align: center;
	float: left;
}

.welcome-similarity {
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	margin-left: 35px;
}

.wel-group:nth-child(2n) {
	margin-left: 10px;
}

.mutual-box {
	background: $red;
}

.sim-box {
	background: $orange;
}

.wel-pic {
	width: 50px;
	height: 50px;
	margin: 10px;
}

.wel-pic path {
	fill: rgba(255,255,255,.3)
}

.wel-gotit {
	background: $light-turq;
	color: white;
	width: 100px;
	height: 30px;
	border-radius: 50px;
	width: calc(100% - 200px);
	margin-left: 100px;
	text-align: center;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.9;
}

