<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p id="preview-text">
      Hey there!<br><br>

      Our mutual friend, <%= @user.first_name %>, wants to personally invite you to join Cliq.<br><br>

      With Cliq, you can discreetly meet people in your area who love the same cool things as you. No one can ever see your last name and your picture only shows up to the specific people you're chatting with. So you're just a first name to most and an added picture the size of a nickel to the few talking to you. Totally discreet.<br><br>

      Not interested in meeting people? You can still sign up to find out about cool events at UCF.<br><br>

      What are you waiting for? Sign up now at www.cliqwith.me
    </p>
  </body>