<div class="container">
	<div id="main-info">
		<p class="landing-logo">Cliq</p>
		<p class="landing-desc">Hang out with people interested in the same awesome things you are.</p>
		<p class="landing-desc">Sign up to start finding your people.</p>
		<div class="sign-up-box">
			<div class="fb-sign-up-btn">
				<div class="fb-logo">
					<%= image_tag "fb_logo.png", :class => "fb-letter" %>
				</div>
				<div class="sign-up-text">SIGN UP WITH FACEBOOK</div>
			</div>
			<div class="sign-up-info">
				<p>Have an account? LOG IN</p>
				<p>By signing up, you agree to our terms and conditions</p>
			</div>
		</div>
	</div>

	<div id="bottom-nav">
		<p>How It Works</p>
		<p>FAQ</p>
	</div>
</div>