<div class="interests-self">
		<div class="cat-collection">
			<% @unformatted_interests.each do |cat_acts| %>
					<div class="scroll-cat">
						<div class="scroll-cat-name"><%= cat_acts.first[0] %></div>
						<%= image_tag cat_acts.first[1].first.category.image_url, :class => "scroll-cat-pic" %>
						<div class="overlay hidden"></div>
					</div>
					<div class="scroll-acts hidden">
						<% cat_acts.first[1].first.category.activities.each do |act| %>
							<div class="scroll-act <%= 'chosen' if cat_acts.first[1].include?(act) %>">
								<div class="scroll-act-name"><%= act.super_short_name %></div>
							</div>
						<% end %>
					</div>
			<% end %>
		</div>


	<div class="all-scroll-acts">
	</div>
</div>

<script>
	$(document).ready(function(){
		$($('.scroll-cat-pic')[1]).click()
	})
</script>