<div class="top-nav">
	<%= image_tag "mobile-menu.svg", :class => "menu-icon left" %>
	<span class="menu-title">Cliq</span>
	<%= image_tag "mobile-messages.svg", :class => "menu-icon right" %>
</div>


