<%= render partial: "users/side_nav", locals: {active: :none} %>


<div id="faq-container">

	<div id="faq-content">
		<div id="faq-header" class="head-2">
			About
		</div>

		<div id="faq-questions">
			<div class="faq-question noun-icon">
				Cliq attributes its use of icons as follows:<br><br>

				Information by Berkay Sargın from The Noun Project<br>
				Shuffle by Dmitry Baranovskiy from The Noun Project<br>
				Search by Egor Culcea from The Noun Project<br>
				List by Michael Zenaty from The Noun Project<br>
				Female by Emily Boyer from The Noun Project<br>
				Gender Neutral by Emily Boyer from The Noun Project<br>
				Male by Emily Boyer from The Noun Project<br>
				Next by Mateo Zlatar from The Noun Project<br>
				Approximate by Albert Rojo from The Noun Project<br>
				Share by Karl Schaeffler from The Noun Project<br>
				Calendar by Laurent Canivet from The Noun Project<br>
				Chat by Lorena Salagre from The Noun Project
			</div>

			
		</div>
		
		</div>
	</div>
</div>