<%= render partial: "users/side_nav", locals: {active: :none} %>

<div id="faq-container">

	<div id="faq-content">
		<div id="faq-header" class="head-2">
			Contact
		</div>

		<div id="faq-questions">
			<div class="faq-question head-3 dark-gray">
				We try to work miracles here at Cliq. If you’d like us to add an interest, open up at a new
				school, or include your business as a part of the Cliq Network, write us a message at 
				requests@cliqwith.me.
			</div>

			<div class="faq-question head-3 dark-gray">
				If you have any problems using Cliq, try visiting our <%= link_to "FAQ", faq_path, class: "blue" %> to see if we have already posted a 
			solution. If your problem is not listed or those solutions fail to solve the problem, please let us know at support@cliqwith.me and we’ll get back to you within the day.
			</div>
		</div>
		
		</div>
	</div>
</div>