<%= render partial: "users/side_nav", locals: {active: :none} %>

<div id="faq-container">

	<div id="faq-content">
		<div id="faq-header" class="head-2">
			Frequently Asked Questions
		</div>

		<div id="faq-questions">
			<div class="faq-question head-3 dark-gray">
				Do I need Facebook to create a Cliq account?
			</div>
			<div class="faq-answer head-4 gray">
				Yes, we use Facebook to make sure you are matched with real people who share
				similar interests and common friends. Cliq will never post anything to your Facebook.
			</div>

			<div class="faq-question head-3 dark-gray">
				Do I need a UCF email to create a Cliq account?
			</div>
			<div class="faq-answer head-4 gray">
				For now yes, this is to ensure that we keep discovery within the UCF community for 
				now. You can still sign up with facebook and leave your email address to receive updates on when we will be expanding.
			</div>

			<div class="faq-question head-3 dark-gray">
				Why can’t I see people’s photos?
			</div>
			<div class="faq-answer head-4 gray">
				One of you has to message the other person and get a reply before your photos 
				become visible to each other. 
			</div>

			<div class="faq-question head-3 dark-gray">
				Why can’t I see people’s last names?
			</div>
			<div class="faq-answer head-4 gray">
				Cliq never shows last names to keep things discrete and to make sure protect your privacy is never compromised.
			</div>

			<div class="faq-question head-3 dark-gray">
				I can’t log in.
			</div>
			<div class="faq-answer head-4 gray">
				Make sure you have the latest version of the Facebook app and have activated your 
				account with the link we send to your school email.
			</div>

			<div class="faq-question head-3 dark-gray">
				How do I change my age?
			</div>
			<div class="faq-answer head-4 gray">
				Make sure you entered your actual age on Facebook and that your friends can see it 
				(not you only), then log out and back in. There could be a delay but your age should 
				update automatically in the next few hours. You can also delete your account and start
				over but this will delete your matches, messages etc. 
			</div>

			<div class="faq-question head-3 dark-gray">
				Someone is making me uncomfortable. What should I do?
			</div>
			<div class="faq-answer head-4 gray">
				If someone is being inappropriate, then just hit the "block" button for that person in the messages tab. This will keep them from seeing your profile and contacting you in the future.
			</div>

			<div class="faq-question head-3 dark-gray">
				How do I change/add more interests?
			</div>
			<div class="faq-answer head-4 gray">
				It’s pretty simple. Go to your profile and click on “add interests.” Just navigate to the
				category of the interest you’d like to change: click interests on the right column to 
				remove them, and on the left column to add them.
			</div>

				<div class="faq-question head-3 dark-gray">
				Why isn’t my school listed?
			</div>
			<div class="faq-answer head-4 gray">
				We’re just three guys, so we can’t be everywhere at once. You can still sign up with
				facebook and leave your email address to receive updates about our expansion. 
			</div>



			<div class="faq-question head-3 dark-gray">
				How can I get Cliq at my school?
			</div>
			<div class="faq-answer head-4 gray">
				We’re currently running a pilot, but send us a request to have us open at your 
				school at request@cliqwith.me and we’ll get back to you within the day.
			</div>
		</div>
	</div>
</div>