<%= render partial: "users/side_nav", locals: {active: :none} %>

<div id="faq-container">

	<div id="faq-content">
		<div id="faq-header" class="head-2">
			Frequently Asked Questions
		</div>

		<div id="faq-questions">
			<div class="faq-question head-3 dark-gray">
				Do I need Facebook to create a Cliq account?
			</div>
			<div class="faq-answer head-4 gray">
				Yes, we use Facebook to make sure you are matched with real people who share
				similar interests and common friends. Cliq will never post anything to your Facebook.
			</div>

			<div class="faq-question head-3 dark-gray">
				Do I need a UCF email to create a Cliq account?
			</div>
			<div class="faq-answer head-4 gray">
				For now yes, this is to ensure that we keep discovery within the UCF community for 
				now. You can still sign up with facebook and leave your email address to receive updates on when we will be expanding.
			</div>

			<div class="faq-question head-3 dark-gray">
				Why can't I see the profile pictures of Cliq users?
			</div>
			<div class="faq-answer head-4 gray">
				One of you has to message the other person and get a reply before your photos 
				become visible to each other. 
			</div>

			<div class="faq-question head-3 dark-gray">
				Why can’t I see other people’s last names?
			</div>
			<div class="faq-answer head-4 gray">
Cliq will never show last names to anyone. This policy helps us keep things discreet and protect the privacy of everyone on Cliq.
			</div>

			<div class="faq-question head-3 dark-gray">
				I can’t log in.
			</div>
			<div class="faq-answer head-4 gray">
				Make sure you have the latest version of the Facebook app and have activated your 
				account with the link we send to your school email.
			</div>

			<div class="faq-question head-3 dark-gray">
				Someone is making me uncomfortable. What should I do?
			</div>
			<div class="faq-answer head-4 gray">
				If someone is being inappropriate, then just hit the "block" button for that person in the messages tab. This will keep them from seeing your profile and contacting you in the future.
			</div>

			<div class="faq-question head-3 dark-gray">
				How do I change/add more interests?
			</div>
			<div class="faq-answer head-4 gray">
				It's really simple and you start by going to your profile. If you are using your phone to access Cliq, your interests are those we have highlighted in orange for you. You can click the orange ones to remove them and the gray ones to add them.
<br><br>
If you are on your computer, just hit the add/change interests button and navigate to the appropriate category. The orange interests in the right column are your interests. You can add interests by clicking on the gray options in the left column, or remove interests by clicking on the orange ones in the right column.
			</div>

				<div class="faq-question head-3 dark-gray">
				Why isn’t my school listed?
			</div>
			<div class="faq-answer head-4 gray">
				We’re just three guys, so we can’t be everywhere at once. You can still sign up with
				facebook and leave your email address to receive updates about our expansion. 
			</div>



			<div class="faq-question head-3 dark-gray">
				How can I get Cliq at my school?
			</div>
			<div class="faq-answer head-4 gray">
				We're currently running a pilot, but you can send us a request at requests@cliqwith.me telling us how Cliq can impact your community. We're always looking to expand!
			</div>
            
            <div class="faq-question head-3 dark-gray">
				Cliq keeps crashing on my iPhone. What's going on?
			</div>
			<div class="faq-answer head-4 gray">
				Sometimes Safari on iOS does weird stuff in the background that messes up how websites render. Turning your phone completely off and back on again usually does the trick. Alternatively you can try accessing Cliq with other browsers like Chrome. If you're still having trouble, write to us at support@cliqwith.me and we'll do what we can to help!
			</div>
		</div>
	</div>
</div>