<%= render partial: "users/side_nav", locals: {active: :none} %>

<div id="faq-container">

	<div id="faq-content">
		<div id="faq-header" class="head-2">
			Help
		</div>

		<div id="faq-questions">
			<div class="faq-question head-3 dark-gray">
				Hold up, simmer down. We will try to answer your questions as quickly as we can, but please 
				bear in mind that there are only three of us. To help save you some time, we put together a list of some of the most common problems and their solutions on our <%= link_to 'FAQ', faq_path %> page.
			</div>

			<div class="faq-question head-3 dark-gray">
				If you’re having a problem not covered in our <%= link_to 'FAQ', faq_path %> or one that our solutions did not solve, then write to us at support@cliqwith.me and we will get back to you as soon as possible.
			</div>
		</div>
		
		</div>
	</div>
</div>