<div class="mobile container">
	<div id="main-info" class="mobile">
		<p class="mobile landing-logo">Cliq</p>
		<p class="mobile landing-desc">Meet Awesome People</p>
	 	<p class="mobile landing-desc">Do Awesome Things</p>
		

		<div class="mobile sign-up-box">
			<a href="/auth/facebook" %>
				<div class="mobile fb-sign-up-btn">
					<div class="mobile fb-logo">
						<%= image_tag "fb_logo.png", :class => "fb-letter mobile" %>
					</div>
					<div class="mobile sign-up-text">Signup with Facebook</div>
				</div>
			</a>
			<div class="mobile sign-up-info">
				<p class="mobile conditions white">Don't worry, we will never post to your Facebook.</p>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$('body').css('padding-left', '0px')
})
</script>



