
<div class="container section landing-section" id="section-1">
	<div class="section-overlay"></div>
	<div class="main-info">
		<p class="cliq">Cliq</p>
		<p class="landing-desc main roboto"></p>
		<div class="title-main roboto"><span class="orange">FIVE</span> NEW FACES<br>EVERY WEEK</div>
		<p class="title-sub">Could be five new friends.<br>Punch loneliness and boredom in the face.</p>
	</div>	
</div>









