<div class="container">
	<div id="main-info">
		<p class="landing-logo">Cliq</p>
		<p class="landing-desc main">Hang out with people interested in the same awesome things you are.</p>
	 	<p class="landing-desc sub">Sign up to start finding your people.</p>
		

		<div class="sign-up-box">
			<a href="/auth/facebook" %>
				<div class="fb-sign-up-btn">
					<div class="fb-logo">
						<%= image_tag "fb_logo.png", :class => "fb-letter" %>
					</div>
					<div class="sign-up-text">SIGN UP WITH FACEBOOK</div>
				</div>
			</a>
			<div class="sign-up-info">
				<p class="login gray">Have an account? <a href="/auth/facebook" %><font color="#414141">LOG IN</font></a></p>
				<p class="conditions gray">By signing up, you agree to our <font color="#BEBEBE">terms and conditions</font></p>
			</div>
		</div>
	</div>

	<div id="bottom-nav" class="gray">
		<p id="faq">FAQ</p>
		<p id="how-it-works">How It Works</p>
	</div>
</div>

<script>
$(document).ready(function() {
	$('body').css('padding-left', '0px')
})
</script>



