<%= render partial: "users/side_nav", locals: {active: :none} %>


<div id="faq-container">

	<div id="faq-content">
		<div id="faq-header" class="head-2">
			Terms and Privacy
		</div>

		<div id="faq-questions">
			<div class="faq-question head-3 dark-gray">
				Statement of Rights and Responsibilities
			</div>

			<p>
				This agreement was written in English (US). To the extent any translated version of this 
				agreement conflict with the English version, the English version controls. 
			</p>

			<p>Date of Last Revision: July 16, 2014</p>

			<p>
					Statement of Rights and Responsibilities<br>
					This statement of Rights and Responsibilities (“Statement,” or “Terms”) is derived from the Cliq Principles, and is our terms of service that governs our relationship with users and others who interact with Cliq. By accessing or using Cliq, you agree to this Statement, as updated from time 
					to time. 
			</p>

			<div class="faq-question head-3 dark-gray">
				1. Privacy
			</div>

			<p>
				Your privacy is very important to use and we designed Cliq with your privacy in mind. Our DataUse Policy as described in Section 2 outlines how you can use Cliq to share with others and how we collect and can use your content and information. 
			</p>

			<div class="faq-question head-3 dark-gray">
				2. Data Use Policy
			</div>

			<p>
				Cliq never provides any outside party with access to your information, except in cases where law enforcement has procured a legal warrant and only within the scope of their warrant. When you sign up for Cliq, your Cliq account is connected to your Facebook account.We retrieve your name, profile picture and email address from your Facebook account. We do not store your Facebook password. Your full name and email address are used by Cliq to create your Cliq account. Each time you log into Cliq, we check to make sure that we have your most recent profile photo. 
			</p>
			<p>
				Your messages on Cliq are privately shared between you and the other party. No one else can 
				see your messages, except when Cliq is compelled to do so by the law. Cliq reserves the right 
				to access the messages database to investigate violations of our Rules outlined in Section 3 
				and Protecting Other Peoples’ Rights in Section 4. Furthermore, we reserve the right to access 
				the messages database to investigate technical issues affecting our messaging service or Cliq. 
			</p>

			<div class="faq-question head-3 dark-gray">
				3. Rules
			</div>

			<p>
				We do our best to keep Cliq safe, but we cannot guarantee it. We need your help to keep Cliq safe, which includes the following commitments by you: 
			</p>

			<ol>
				<li>You will not upload viruses or other malicious code.</li>

				<li>You will not solicit login information or access an account belonging to someone else.</li>

				<li>You will not bully, intimidate, or harass any user.</li> 

				<li>You will not post content that: is hate speech, threatening or pronographic; incites 

				violence; or contains nudity or graphic or gratuitous violence.</li> 

				<li>You will not use Cliq to do anything unlawful, misleading, malicious, or discriminatory.</li>

				<li>You will not provide false personal information to Cliq or create an account for anyone 

				other than yourself without permission.</li>

				<li>You will not create more than one personal account.</li>

				If we disable your account, you will not create another one without our permission.</li>

				<li>You will not use a Cliq user account primarily for your own commercial gain, and will use 

				a Cliq business account for such purposes.</li>

				<li>You will not use Cliq if you are under 13.</li>

				<li>You will not use Cliq if you are a convicted sex offender.</li> 

				<li>You will keep your contact information accurate and up-to-date.</li>

				<li>You will not do anything that could disable, overburden, or impair the proper working 

				or appearance of Cliq, such as a denial of service attack or interference with page 

				rendering or other Facebook functionality.</li>

				<li>You will not facilitate or encourage any violations of this Statement or our policies.</li>

				<li>You will not impersonate Cliq or any agent of Cliq.</li> 
			</ol>

			<div class="faq-question head-3 dark-gray">
				4. Protecting Other Peoples’ Rights
			</div>

			<p>
				We respect the rights of others, and we expect you to do the same. 
			</p>

			<ol>
				<li>You will not post content or take any action on Cliq that infringes or violates someone 
				else’s rights or otherwise violates the law.</li>

				<li>We can remove any content or information that you post on Cliq if we believe that it 
				violates this Statement or our policies.</li>

				<li>If we remove your content from infringing on someone else’s rights or violates the law 
				and you post it again, we will directly contact you about the repeat offense. We reserve 
				the right to ban you from Cliq for repeat offenses.</li>

				<li>If you believe that we have removed the content by mistake, we will provide you with an 
				opportunity for an appeal.</li>

				<li>You will not share anyone’s identification documents or sensitive financial information on 
				Cliq.</li>
			</ol>

			<div class="faq-question head-3 dark-gray">
				5. Termination
			</div>

			<p>
				If you violate the letter or spirit of this Statement, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of Cliq to you. We will notify you by email or at the next time you attempt to access your account. You may also delete or disable your account at any time. In all such cases, this Statement shall terminate, but the following provisions will still apply: 2, 3 and 4. 
			</p>

			<div class="faq-question head-3 dark-gray">
				6. Disputes
			</div>

			<ol>
				<li>You will resolve any claim, cause of action or dispute (claim) you have with us arising 
				out of or relating to this Statement or Cliq in the U.S. District Court for the Northern 
				District of California or a state court located in San Mateo County, and you agree to 
				submit to the personal jurisdiction of such courts for the purpose of litigating all such 
				claims. The laws of the State of California will govern this Statement, as well as any 
				claim that might arise between you and us, without regard to conflict of law provisions.</li>

				<li>We try to keep Cliq up, bug-free, and safe, but you use it at your own risk. We are 
				providing Cliq as is without any express or implied warranties including, but not limited 
				to, implied warranties of merchantability, fitness for a particular purpose, and non-
				infringement. We do not guarantee that Cliq will always be safe, secure or error-free 
				or that Cliq will always function without disruptions, delays or imperfections. Cliq is not 
				responsible for the actions, content, information, or data of third parties, and you release 
				us, our directors, officers, employees, and agents from any claims and damages, known 
				and unknown, arising out of or in any way connected with any claim you have against 
				any such third party. If you are a California resident, you waive California Civil Code 
				1542, which says: a general release does not extend to claims which the creditor does 
				not know or suspect to exist in his favor at the time of executing the release, which if 
				known by him must have materially affected his settlement with the debtor. We will not 
				be liable to you for any lost profits or other consequential, special, indirect, or incidental 
				damages arising out of or in connection with this Statement or Cliq, even if we have 
				been advised of the possibility of such damages. Our aggregate liability arising out of 
				this Statement or Facebook will not exceed the greater of one hundred dollars ($100) or 
				the amount you have paid us in the past twelve months. Applicable law may not allow 
				the limitation or exclusion of liability or incidental or consequential damages, so the 
				above limitation or exclusion may not apply to you. In such cases, Cliq’s liability will be 
				limited to the fullest extent permitted by applicable law.</li>
			</ol>
		</div>
		
		</div>
	</div>
</div>

