<%= link_to interest_path(interest), remote: true, method: :delete, class: "remove-act" do %>
	<div class="chosen-act" class="head-4">
		<div class="act-text"><%= act.shortened_name %></div>
	</div>
<% end %>