$logo-font: "kari-pro",sans-serif;
$generic-font: "proxima-nova",sans-serif;
$gray: #939393;
$light-gray: #BEBEBE;
$dark-gray: #414141;
$green: #13CD81;
$blue: #1CA7FF;
$beige: #F1F1F1;
$nav-color: #34495E;
$active-nav-color: #2A3948;