@import 'variables';

.event-modal {
	float: left;
	border: 1px solid black;
	width: 530px;
	height: 345px;
	font-family: $generic-font;
}

.event-form-header {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-left: 55px;
}

.header-profile {
	float: left;
}

#sending {
	float: left;
}

.event-profile-pic {
	height: 34px;
	width: 34px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#sending-name {
	float: left;
}


.form-row {
	clear: left;
	float: left;
	margin-top: 5px;
	width: 108%;
	margin-left: 55px;
}

.form-row.first {
	margin-top: 30px;
}

.event-form-label {
	float: left;
}

.form-input {
	width: 310px;
	height: 32px;
	float: right;
	margin-right: 150px;
	border: 1px solid $light-gray;
}

#event_quantity {
	width: 100px;
	padding: 10px;
	background: white;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 20px;
}

.form-row.submit {
	margin-left: 0px;
	text-align: center;
}

#send-invite {

}

