@import 'variables';

body {
	margin: 0;
}

.head-1 {
	font-weight: 600;
	font-size: 36pt;
}

.head-2 {
	font-weight: 600;
	font-size: 28pt;
}

.head-3 {
	font-weight: 600;
	font-size: 22pt;
}

.head-4 {
	font-weight: 400;
	font-size: 20pt;
}

.head-5 {
	font-weight: 400;
	font-size: 15pt;
}

.head-6 {
	font-weight: 400;
	font-size: 12pt;
}

.dark-gray {
	color: $dark-gray;
}

.light-gray {
	color: $light-gray;
}

.gray {
	color: $gray;
}

.green {
	color: $green;
}

.black {
	color: black;
}

.blue {
	color: $blue;
}

.white {
	color: white;
}

.active {
	background-color: $active-nav-color;
}

.side-nav {
	width: 62px;
	height: 100%;
	background-color: $nav-color;
	position: fixed;
	left: 0;
	text-align: center;
	top: 0;
}

.extended-side-nav .extended {
	float: left;
	clear: left;
	font-family: $generic-font;
	color: white;
	width: 100%;
}

.extended .nav-icon {
	margin-left: 15px;
	margin-right: 15px;
	float: left;
}

.icon-label {
	float: left;
	margin-top: 14px;
}


.extended-side-nav {
	width: 62px;
	height: 100%;
	background-color: $nav-color;
	position: fixed;
	left: 0;
	text-align: center;
	top: 0;
	display: none;
}

a {
	text-decoration: none;
}

.extended.logo {
	font-family: $logo-font;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	color: white;
}

.extended.logo .icon-label {
	margin-left: 15px;
	margin-top: 0px;
}

.logo {	
	font-family: $logo-font;
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.nav-icon {
	width: 25px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.settings {
	bottom: 0;
	position: absolute;
	margin-left: 18px;
}

#extended-settings {
	margin-left: 0px;
}

.extended-options {
	float: left;
	width: 100%;
	position: absolute;
	bottom: 90px;
	font-family: $generic-font;
	color: white;
}

.extended-options .icon-label {
	margin-left: 56px;
	float: left;
	clear: left;
}

.terms {
	margin-top: 10%;
}

.nav-filler {
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
}

.side-icon {
	position: relative;
}

.counter {
	background-color: $red;
	color: white;
	font-size: 10px;
	height: 12.5px;
	width: 15px;
	padding-top: 1px;
	border-radius: 3px;
	text-align: center;
	position: absolute;
	top: 3px;
	right: 8px;
}

.extended .counter {
	right: 163px;
}






