@import 'variables';

#messages-header {
	height: 64px;
	width: 100%;
	background-image: image_url("search_blue.png");
	float: left;
	font-family: $generic-font;
	margin-left: 62px;
}

#messages-header-actions {
	margin-top: 15px;
	float: left;
}

#new-message {
	float: left;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 50px;
	background-color: white;
	margin-right: 30px;
	margin-left: 250px;
}

#message-sort-by {
	float: left;
	margin-right: 10px;
}

#message-sort {
	opacity: .5;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 50px;
	background-color: white;
	float: left;
	margin-right: 30px;
}

#search-messages {
	float: left;
	background-color: white;
	padding: 5px 80px 5px 15px; 
	border-radius: 50px;
}

#conversations {
	float: left;
	margin: 50px 0px 75px 258px;
	height: 450px;
	width: 385px;
	overflow-y: scroll; 
}

#messages {
	width: 530px;
	height: 450px;
	float: left;
	margin: 50px 0px 75px 50px;
}

.convo {
	height: 75px;
	width: 367px;
}

.convo-pic {
	float: left;
	width: 65px;
	height: 65px;
}

.convo-details {
	float: left;
	width: 300px;
	height: 75px;
	margin-left: 5px;
	font-family: $generic-font
}

.convo-name {
	float:left;
	font-weight: 600;
}

.convo-date {
	float: right;
	font-weight: 600;
}

.convo-school {
	float: left;
	clear: left;
}

.convo-last-message {
	float: left;
	font-weight: 600;
	clear: left;
}

#message-history {
	height: 350px;
	width: 515px;
	overflow-y: scroll;
	overflow-x: hidden; 
}

.message {
	width: 375px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin-top: 9px;
	color: white;
	font-family: $generic-font
}

.message.sent {
	background-color: $green;
	float: left;
	padding-right: 15px;
}

.message.received {
	background-color: $blue;
	float: left;
	margin-right: 5px;
}

.date {
	margin-top: 5px;
	font-size: 13px;
}

.date.sent {
	float: left;
	margin-right: 5px;
	padding-right: 15px;
}

.date.recieved {
	float: left;
	margin-left: 10px;
}

.message-block {
	float: left;
	width: 100%;
	margin-left: 5px;
}

#chat-box {
	float: left;
	height: 65px;
	width: 440px;
	border: 1px solid $gray;
	margin-top: 10px;
}

#chat-box-pic {
	float: left;
	height: 65px;
	width: 65px;
	margin-left: 5px;
	margin-top: 13px;
}

#message-actions {
	width: 515px;
	float: left;
	font-family: $generic-font;
	margin-top: 5px;
}

.message-reply {
	float: right;
}

.message-invite {
	float: left;
}

.result-action.reply {
	margin-right: 10px;
	margin-left: 26px;
}

