$logo-font: "kari-pro",sans-serif;
$generic-font: "proxima-nova",sans-serif;



$green: #13CD81;
$blue: #1CA7FF;
$nav-color: #34495E;
$active-nav-color: #2A3948;


$turq: #14a29d;
$super-light-turq: #19d4cd;
$light-turq: #18c3bd;
$dark-turq: #0d6865;
$orange: #ffa320;
$red: #ff5959;
$light-gray: #BEBEBE;
$super-light-gray: #f1f1f1;
$beige: #f1f1f1;
$dark-gray: #414141;
$darkest-gray: #313131;
$dark-orange: #8b5810;
$gray: #939393;



