$logo-font: "kari-pro",sans-serif;
$generic-font: "proxima-nova",sans-serif;



$green: #13CD81;
$blue: #4193e7;
$nav-color: #34495E;
$active-nav-color: #2A3948;


$turq: #1fa48a;
$super-light-turq: #1dcfac;
$light-turq: #1dcfac;
$dark-turq: #1d7567;
$orange: #ff7e00;
$red: #ff5959;
$light-gray: #BEBEBE;
$super-light-gray: #f1f1f1;
$beige: #f1f1f1;
$dark-gray: #414141;
$darkest-gray: #313131;
$dark-orange: #8c480c;
$gray: #939393;
$girl: #ffa4da;
$boy: #6adeff



