@import 'variables';

#events-header {
	height: 64px;
	width: 100%;
	float: right;
	font-family: $generic-font;
	overflow-x: hidden;
}

#events-container {
	background-color: $super-light-gray;
	float: left;
	overflow-x: hidden;
	width: 100%;
}

#invite-container {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0;
	overflow-y: scroll;
	background-image: image_url("jump_side.png");
  background-size: cover;
}

#other-events-container {
	width: 60%;
	height: auto;
	background: $super-light-gray;
	float: right;
	overflow-x: hidden;
}

#events-box {
	float: left;
	width: 100%;
	margin-left: calc(16.66% - 112px);
	margin-bottom: 50px;
    margin-top: 0px;
}

#events-header-actions {
	width: calc(63.3% + 218px);
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}

#event-status {
	float: left;
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 20px;
	border-radius: 50px;
}

.dark-gray.selected {
	background-color: $dark-gray;
	border-radius: 50px;
	color: white;
}

#event-upcoming {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

#event-past {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

#event-going {
  float: right;
  height: 26px; 
}

#event-hosting {
	float: right;
  height: 26px;
}

#event-open {
	float: right;
    height: 26px;
}

#invites {
	width: 383px;
	margin: 0 auto;
	font-family: $generic-font
}

#new-open-event {
	width: 140px;
	height: 140px;
	border-radius: 150px;
	text-align: center;
	font-weight: 300;
	color: white;
	background: $orange;
	cursor: pointer;
	font-size: 20px;
	position: fixed;
	top: -75px;
	left: calc(40% - 70px);
	z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.create-event-text {
	position: absolute;
	top: 82px;
	right: 25px;
	font-size: 16px;
    text-align: left;
}

.plus {
	font-size: 50px;
	font-weight: 200;
	position: absolute;
	top: 75px;
	left: 32px;
}


#new-open-event:hover {
	background: white;
	color: $orange;
	border: 1px solid $orange;
}

#invites-collection {
	margin: 0 auto;
	width: 224px;
}

#invites-header {
	margin-left: 70px;
	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 28px;
    font-weight: 400;
}

#upcoming-header {
	float: left;
	font-size: 26px;
    font-weight: 300;

}

.invite {
	height: 410px;
	width: 224px;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.upcoming-event-location {
	max-height: 18px;
	overflow-y: scroll;
}

.people-going {
	margin-top: 5px;
}
.invite-header {
	height: 50px;
	width: 100%;
}

.invite-creator {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.invitation-creator-info {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.invite-creator-name {
	font-weight: 600;
	float: left;
}

.invitation {
	float: left;
	clear: left;
	margin-left: 1px;
	margin-top: 0px;
}

.invite-location {
	font-size: 15px;
    
}

.invite-pic {
	height: 168px;
	position: relative;
}

.invite-pic:hover .invite-overlay {
	display: block;
}

.event-title-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,.5);
	top: 0;
}

.event-title {
	font-weight: 700;
	margin-top: 12px;
	margin-left: 12px;
}

.event-title a {
	color: white;
}

.upcoming-event-picture:hover .invite-overlay {
	display: block;
}

.invite-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,.7);
	color: white;
	display: none;
	top: 0;
	left: 0;
}

.invite-count {
	width: 100%;
	text-align: center;
	font-size: 22px;
	margin-top: 45px;
    font-weight: 700;
}

.invite-thread {
	width: 100%;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.event-tags {
	float: left;
	width: 120px;
	height: 15px;
	position: absolute;
	bottom: -3px;
}

.event-tag {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 1px;
}

.invite-thread.bottom {
	width: 80%;
	background-color: $light-turq;
	border-radius: 30px;
	height: 25px;
	float: right;
	margin-right: 15px;
	width: 65px;
	position: relative;
}

.invite-messages-pic {
	position: absolute;
	height: 20px;
	width: 20px;
	top: 2.5px;
	left: 22.5px;
}

.new-tag {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	background: $red;
	border-radius: 20px;
	width: 102%;
	height: 102%;
	line-height: 25px;
}

.invite-thread.bottom.invite-view {
	margin-left: 20px;
	margin-top: 0px;
}

.invite-thread.bottom.view-thread {
	float: right;
	margin-right: 0px;
	margin-top: 8px;
	line-height: 25px;
}

.invite-thread.bottom:hover {
	color: white;
}

.invite-thread:hover {
	color: $light-turq;
	text-decoration: underline;
}

.invite-overlay-action {
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.invite-overlay-action:hover {
	color: $light-turq;
	text-decoration: underline;
}

.event-picture {
	width: 100%;
	height: 168px;
}

.invite-info {
	height: 210px;
    padding: 10px 15px;
    position: relative;
    box-sizing: border-box;
}

.invite-row {
	clear: left;
	float: left;
}

.invite-title {
	margin: 2px 0px;
    font-size: 15px;
    font-weight: 700;
}

.invite-time {
	font-weight: 600;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	color: white;
	background: $orange;
	border-radius: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
    height: 20px;
    line-height: 1.4;
}

.invite-actions {
	bottom: 7px;
	position: absolute;
	margin-left: 47px;
}

.invite-row.pass-accept {
	width: 100%;
}

.invite-action {
	float: left;
	width: 37.5%;
}

.invite-action:nth-child(2n) {
	float: right;
}

.accept {
	border-radius: 50px;
	background-color: $light-turq;
	text-align: center;
	width: 100%;
	font-weight: 600;
}

.pass {
	text-align: center;
	font-weight: 600;
	width: 100%;
	background: $red;
	color: white;
	border-radius: 50px;
}

#upcoming {
	margin: 0 auto;
	width: 95%;
	min-height: 900px;
	font-family: $generic-font;
}

.upcoming-event-info .invite-row {
	margin: 5px 0px;
    font-size: 15px;
    font-weight: 300;
}

.upcoming-event-info {
	.invite-row.pass-accept {
	float: right;
	width: 40%;
	clear: none;
	margin-top: 5px;
	}
}

.event-action-bar {
	position: relative;
	float: left;
}

.event-action-bar.right {
	float: right;
	margin-right: 5px;
}
.event-action-text {
	position: absolute;
	bottom: -20px;
	color: $gray;
	left: 8px;
	font-weight: 300;
    line-height: 1;
    font-size: 12px;
    margin-left: 3px;
}

.upcoming-event-info .invite-title2 {
	margin: 2px 0px;
  font-size: 15px;
  font-weight: 700;
}

.upcoming-event {
	width: 224px;
	height: 400px;
	float: left;
	margin-right: calc(33.33% - 224px);
	background-color: white;
	margin-top: 20px;
	-webkit-animation-duration: .3s;
}



.upcoming-event-description {
	max-height: 110px;
	overflow-y: scroll;
	width: 100%;
}

.upcoming-event-title {
	font-size: 15px;
	font-weight: 700;
}

.upcoming-event-time.invite-row {
	border-radius: 50px;
	background-color: $orange;
	width: 113px;
	text-align: center;
	height: 43px;
	line-height: 45px;
	font-size: 20px;
	font-weight: 700;
	float: left;
}

.event-reqs {
	font-weight: 700;
	height: 43px;
	width: 80px;
	color: $red;
	position: absolute;
	bottom: 0;
}

.req {
	float: left;
	margin-left: 10px;
	height: 100%;
	line-height: 43px;
}

.upcoming-event-picture {
	height: 168px;
	position: relative;
    background-color: #414141;
}

.upcoming-event-info {
	height: 210px;
    position: relative;
	padding: 8px 15px;
    box-sizing: border-box;
}

.upcoming-event-title {
	overflow-y: scroll;
	max-height: 45px;
}

.invite-row.invite-actions {
	width: calc(100% - 15px);
	margin-left: 0px;
  margin-bottom: -15px;
}

.attendee {
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 50px;
	margin-right: 5px;
	clear: left;
	margin-bottom: 5px;
}

.attendee-name {
	float: left;
}

#empty-invite {
	float: left;
	font-size: 19pt;
	margin-top: 125px;
}

#empty-events {
	float: left;
	font-size: 19pt;
	margin-top: 125px;
}

.event-filter {
	cursor: pointer;
    margin: 0px 10px;
    line-height: 1.8;
    width: 100px;
    text-align: center;
}

.event-filter:hover {
	background-color: #666666;
	border-radius: 13px;
    color: #fff;
}

////////


.event-date-type {
	width: 100%;
	float: left;
}

.date-header {
	margin-top: 40px;
}


/////////////////


#invites .event-form-right {
	width: 100%;
	margin-top: 100px;
}

#events-box .activity {
	margin-top: 50px;
}

#invites .event-form-right {
	.form-row {
		margin: 0 auto;
		width: 100%;
		float: none;
	}
	.event-attrs-1 {
		margin-top: 25px;
	}
	.event-attr {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	}
	.attr-pic {
		margin-top: 10px;

	}
	.form-row.event-dates {
		margin-top: 25px;
		width: 100%;
	}
}

.event-type {
	cursor: pointer;
}

.event-attr:hover .attr-text {
	display: block;
}


.event-action-pic {
	width: 20px;
	height: 20px;
	float: right;
	clear: none;
	margin-left: 13px;
}
