@import 'variables';

#events-header {
	height: 64px;
	width: 100%;
	float: right;
	font-family: $generic-font;
	overflow-x: hidden;
}

#events-container {
	background-color: $super-light-gray;
	float: left;
	overflow-x: hidden;
	width: 100%;
}

#invite-container {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0;
	overflow-y: scroll;
	background-image: image_url("jump_side.png");
  background-size: cover;
}

#other-events-container {
	width: 60%;
	height: 100%;
	float: right;
}

#events-box {
	float: left;
	margin-top: 30px;
	width: 100%;
}

#events-header-actions {
	width: 85%;
	margin: 0 auto;
	margin-top: 50px;
}

#event-status {
	float: left;
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 20px;
	border-radius: 50px;
}

.dark-gray.selected {
	background-color: $dark-gray;
	border-radius: 50px;
	color: white;
}

#event-upcoming {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

#event-past {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

#event-going {
	float: right;
	padding-left: 15px;
	padding-right: 15px; 
}

#invites {
	width: 383px;
	margin: 0 auto;
	font-family: $generic-font
}

#invites-collection {
	float: left;
}

#invites-header {
	margin-left: 70px;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 30px;
}

#upcoming-header {
	float: left;
	font-size: 30px;

}

.invite {
	height: 378px;
	width: 224px;
	background-color: white;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.invite-header {
	height: 50px;
	width: 100%;
}

.invite-creator {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.invitation-creator-info {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.invite-creator-name {
	font-weight: 600;
	float: left;
}

.invitation {
	float: left;
	clear: left;
	margin-left: 1px;
	margin-top: 0px;
}

.invite-location {
	font-size: 12pt;
}

.invite-pic {
	height: 168px;
}

.event-picture {
	width: 100%;
	height: 168px;
}

.invite-info {
	height: 160px;
	position: relative;
}

.invite-row {
	clear: left;
	float: left;
	margin-left: 20px;
}

.invite-title {
	font-size: 15pt;
	font-weight: 800;
}

.invite-time {
	font-weight: 600
}

.invite-actions {
	bottom: 7px;
	position: absolute;
	margin-left: 47px;
}

.invite-action {
	float: left;
}

.accept {
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
	background-color: $light-turq;
	float: left;
	margin-right: 15px;
}

.pass {
	float: left;
}

#upcoming {
	margin: 0 auto;
	width: 85%;
	min-height: 900px;
	font-family: $generic-font;
}

.upcoming-event-info .invite-row {
	margin-top: 5px;
}

.upcoming-event {
	width: 31%;
	height: 378px;
	float: left;
	margin-right: 2%;
	background-color: white;
	margin-top: 20px;
}

.upcoming-event:nth-child(3n) {
	margin-right: 0px;
}

.upcoming-event-title {
	font-size: 15pt;
	font-weight: 800;
}

.upcoming-event-time {
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
	background-color: $light-turq;
}

.upcoming-event-picture {
	height: 168px;
}

.upcoming-event-info {
	height: 210px;
}

.attendee {
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 50px;
	margin-right: 5px;
	clear: left;
	margin-bottom: 5px;
}

.attendee-name {
	float: left;
}

#empty-invite {
	float: left;
	font-size: 19pt;
	margin-top: 125px;
}

#empty-events {
	float: left;
	font-size: 19pt;
	margin-top: 125px;
}

.event-sort > .head-4:hover {
	background-color: #fff;
	border-radius: 50px;
    color: $dark-gray;
}
