@import 'variables';

#events-header {
	height: 64px;
	width: 100%;
	float: right;
	font-family: $generic-font;
	overflow-x: hidden;
}

#events-container {
	background-color: $super-light-gray;
	float: left;
	overflow-x: hidden;
	width: 100%;
}

#invite-container {
	width: 40%;
	height: 100%;
	position: fixed;
	top: 0;
	overflow-y: scroll;
	background-image: image_url("jump_side.png");
  background-size: cover;
}

#other-events-container {
	width: 60%;
	height: 100%;
	float: right;
}

#events-box {
	float: left;
	margin-top: 30px;
	width: 100%;
}

#events-header-actions {
	width: 85%;
	margin: 0 auto;
	margin-top: 50px;
}

#event-status {
	float: left;
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 20px;
	border-radius: 50px;
}

.dark-gray.selected {
	background-color: $dark-gray;
	border-radius: 50px;
	color: white;
}

#event-upcoming {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

#event-past {
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

#event-going {
    float: right;
    padding: 0px 30px;
    height: 26px;
    line-height: 1.3;
}



#event-open {
	float: right;
    padding: 0px 30px;
    height: 26px;
    line-height: 1.3;
}

#invites {
	width: 383px;
	margin: 0 auto;
	font-family: $generic-font
}

#new-open-event {
	width: 224px;
	border-radius: 100px;
	background: white;
	height: 45px;
	margin: 0 auto;
	font-size: 25px;
	text-align: center;
	line-height: 2.2;
	font-weight: 300;
	color: $red;
	cursor: pointer;
    font-size: 20px;
}

#new-open-event:hover {
	background: $red;
	color: white;
}

#invites-collection {
	margin: 0 auto;
	width: 224px;
}

#invites-header {
	margin-left: 70px;
	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 28px;
    font-weight: 400;
}

#upcoming-header {
	float: left;
	font-size: 28px;
    font-weight: 400;

}

.invite {
	height: 410px;
	width: 224px;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.upcoming-event-location {
	max-height: 40px;
	overflow-y: scroll;
}

.people-going {
	margin-top: 5px;
}
.invite-header {
	height: 50px;
	width: 100%;
}

.invite-creator {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.invitation-creator-info {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.invite-creator-name {
	font-weight: 600;
	float: left;
}

.invitation {
	float: left;
	clear: left;
	margin-left: 1px;
	margin-top: 0px;
}

.invite-location {
	font-size: 15px;
    
}

.invite-pic {
	height: 168px;
	position: relative;
}

.invite-pic:hover .invite-overlay {
	display: block;
}

.upcoming-event-picture:hover .invite-overlay {
	display: block;
}

.invite-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,.7);
	color: white;
	display: none;
	top: 0;
	left: 0;
}

.invite-count {
	width: 100%;
	text-align: center;
	font-size: 22px;
	margin-top: 45px;
    font-weight: 700;
}

.invite-thread {
	width: 100%;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.invite-thread:hover {
	color: $light-turq;
	text-decoration: underline;
}

.invite-overlay-action {
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.invite-overlay-action:hover {
	color: $light-turq;
	text-decoration: underline;
}

.event-picture {
	width: 100%;
	height: 168px;
}

.invite-info {
	height: 210px;
    padding: 10px 15px;
    position: relative;
    box-sizing: border-box;
}

.invite-row {
	clear: left;
	float: left;
}

.invite-title {
	margin: 2px 0px;
    font-size: 15px;
    font-weight: 700;
}

.invite-time {
	font-weight: 600;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	color: white;
	background: $orange;
	border-radius: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
    height: 20px;
    line-height: 1.4;
}

.invite-actions {
	bottom: 7px;
	position: absolute;
	margin-left: 47px;
}

.invite-action {
	float: left;
	width: 37.5%;
}

.invite-action:nth-child(2n) {
	margin-left: 5%;
}

.accept {
	border-radius: 50px;
	background-color: $light-turq;
	text-align: center;
	width: 100%;
	font-weight: 600;
}

.pass {
	text-align: center;
	font-weight: 600;
	width: 100%;
	background: $red;
	color: white;
	border-radius: 50px;
}

#upcoming {
	margin: 0 auto;
	width: 95%;
	min-height: 900px;
	font-family: $generic-font;
}

.upcoming-event-info .invite-row {
	margin: 2px 0px;
    font-size: 15px;
    font-weight: 300;
}

.upcoming-event-info .invite-title2 {
	margin: 2px 0px;
    font-size: 15px;
    font-weight: 700;
}

.upcoming-event {
	width: 224px;
	height: 400px;
	float: left;
	margin-right: 2%;
	background-color: white;
	margin-top: 20px;
}

.upcoming-event-description {
	max-height: 75px;
	overflow-y: scroll;
	width: 100%;
}

.upcoming-event-title {
	font-size: 15px;
	font-weight: 700;
}

.upcoming-event-time {
	border-radius: 50px;
	background-color: $orange;
	width: calc(100% - 40px);
	text-align: center;
}

.upcoming-event-picture {
	height: 168px;
	position: relative;
}

.upcoming-event-info {
	height: 210px;
    position: relative;
	padding: 10px 15px;
    box-sizing: border-box;
}

.upcoming-event-title {
	overflow-y: scroll;
	max-height: 45px;
}

.invite-row.invite-actions {
	width: 100%;
	margin-left: 8px;
  margin-bottom: -22px;
}

.attendee {
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 50px;
	margin-right: 5px;
	clear: left;
	margin-bottom: 5px;
}

.attendee-name {
	float: left;
}

#empty-invite {
	float: left;
	font-size: 19pt;
	margin-top: 125px;
}

#empty-events {
	float: left;
	font-size: 19pt;
	margin-top: 125px;
}

.event-sort > .head-4:hover {
	background-color: #fff;
	border-radius: 50px;
    color: $dark-gray;
}
