@import 'variables';

.event-modal {
	float: left;
	width: 1000px;
	height: 575px;
	font-family: $generic-font;
	background: $orange;
}

.event-form-left {
	float: left;
	width: 500px;
	background: blue;
}



.event-form-header {
	float: left;
	width: 100%;
	text-align: center;
}

.header-profile {
	float: left;
	width: 100%;
	text-align: center;
}

#sending {
	float: left;
	width: 100%;
	text-align: center;
    font-weight: 600;
}

.event-profile-pic {
	height: 34px;
	width: 34px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#sending-name {
	float: left;
}


.form-row {
	clear: left;
	float: left;
	margin-top: 10px;
	width: 65%;
	margin-left: 16%;
  font-weight: 400;
}

.form-row.first {
	margin-top: 20px;
}

.event-form-label {
	float: left;
}

.form-input {
	width: 99%;
	height: 50px;
	font-size: 15px;
	border: none;
	border-radius: 25px;
	text-align: center;
    font-family: $generic-font;
    font-weight: 300;
    
}

#or {
	width: 100%;
	float: left;
	text-align: center;
	height: 20px;
	margin-bottom: 3px;
	margin-top: 8px;
}

#event_quantity {
	width: 100px;
	padding: 10px;
	background: white;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 20px;
}

.event_pic_upload {
    font-weight: 300;
    font-size: 15px;
    font-family: $generic-font;
    color: white;
}

#event_description {
	height: 100px;
    padding: 15px;
    box-sizing: border-box;
}

.form-row.optional {
	margin-top: 0px;
    margin-bottom: 27px;
}

.form-row.submit {
	margin-left: 0px;
	text-align: center;
	margin-top: 20px;
}


.upload {
	position: relative;
}

#upload-button {
	width: 200px;
	height: 50px;
	color: white;
	background-color: $gray;
	text-align: center;
	border-radius: 3px;
	float: right;
	margin-right: 150px;
	position: absolute;
	left: 227px;
	border-radius: 100px;
	cursor: pointer;
    top: 464;
}

.btn-text {
	margin-top: 15px;
	font-size: 15px;
}

#imgInp {
	float: right;
	position: absolute;
	left: 227px;
	z-index: 2;
	width: 200px;
	height: 50px;
	opacity: 0;
	border-radius: 100px;
	cursor: pointer;
    top: 464;
}

#preview {
	width: 80px;
	height: 80px;
	float:	right;
}

#send-invite {
	position: relative;
}

#send-invite .invite-icon {
	position: absolute;
	left: 208px;
	top: 6px;
	cursor: pointer;
}
#invite-submit {
	background: none;
	border: none;
	color: white;
	font-size: 15px;
    font-weight: 600;
	cursor: pointer;
	background-color: $orange;
	color: white;
	width: 50%;
	height: 50px;
	border-radius: 25px;
	font-size: 17px;
	border: none;
	box-shadow: none;
	float: left;
	margin-left: 25%;
	cursor: pointer;
  font-family: $generic-font;
  text-transform: center;
}

.invite-icon {
	height: 30px;
	width: 30px;
	margin-bottom: -4px;
}

#event_partner_id {
	width: 60%;
	background: white;
	height: 50px;
	font-size: 12pt;
	margin-left: 20%;
}

#hour-labels {
	float: left;
	margin-left: 108px
}

#hours {
	float: left;
	margin-left: 25px;
}

.hour{
	height: 20px;
}

.day {
	height: 20px;
}

.invite-icon path {
	fill: white;
}

/////////////////////////////////////////

.event-form-right {
	float: right;
	width: 500px;
	background: green;
	height: 100%;
}

.event-form-right .form-row {
	margin-left: 0px;
}

.event-types {
	height: 50px;
	color: $gray;
	cursor: pointer;
	border-radius: 100px;
}

.event-type {
	height: 100%;
	float: left;
	width: 33.3%;
	background: none;
	text-align: center;
	line-height: 50px;
	background: white;
}

.round-left {
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px; 
}

.round-right {
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px; 	
}

.event-type.selected {
	background: $dark-gray;
	color: white;
}

.event-quest {
	text-align: center;
	color: white;
	margin: 10px 0px;
}

.event-attrs-1 {
	width: 270px;
	height: 60px;
	margin: 0 auto;
}

.event-attr.no-left {
	margin-left: 0px;
}

.event-attrs-2 {
	width: 200px;
	height: 60px;
	margin: 0 auto;
}

.event-attr {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	float: left;
	margin-left: 10px;
	background: white;
	position: relative;
}

.event-attr:hover .attr-text {
	color: white;
}



.attr-text {
	position: absolute;
	bottom: 10px;
	font-size: 11px;
	width: 100%;
	text-align: center;
}

.attr-pic {
	height: 30px;
	width: 30px;
	margin-left: 15px;
	margin-top: 7px;
}


