@import 'variables';

.event-modal {
	float: left;
	width: 750px;
	height: 575px;
	font-family: $generic-font;
}

.event-form-left {
	width: 350px;
	position: absolute;
	top: 25vh;
	margin-left: calc(50% - 175px);
}

#next-form {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	background: white;
	margin: 0 auto;
	cursor: pointer;
}

#next-form:hover {
	border: 1px solid black;
}

.next-form-pic {
	height: 40px;
	width: 100%;
	margin-top: 10px;
}


.event-form-header {
	float: left;
	width: 100%;
	text-align: center;
}

.header-profile {
	float: left;
	width: 100%;
	text-align: center;
}

#sending {
	float: left;
	width: 100%;
	text-align: center;
    font-weight: 600;
}

.event-profile-pic {
	height: 34px;
	width: 34px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#sending-name {
	float: left;
}


.form-row {
	clear: left;
	float: left;
	margin-top: 10px;
	width: 100%;
  font-weight: 400;
}

.form-row.first {
	margin-top: 20px;
}

.event-form-label {
	float: left;
}

.form-input {
	width: 99%;
	height: 50px;
	font-size: 15px;
	border: none;
	border-radius: 25px;
	text-align: center;
    font-family: $generic-font;
    font-weight: 300;
    
}

#or {
	width: 100%;
	float: left;
	text-align: center;
	height: 20px;
	margin-bottom: 3px;
	margin-top: 8px;
}

#event_quantity {
	width: 100px;
	padding: 10px;
	background: white;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 20px;
}

.event_pic_upload {
    font-weight: 300;
    font-size: 15px;
    font-family: $generic-font;
    color: white;
}

#event_description {
	height: 100px;
    padding: 15px;
    box-sizing: border-box;
}

.form-row.optional {
	margin-top: 0px;
    margin-bottom: 27px;
}

.form-row.submit {
	margin-left: 0px;
	text-align: center;
	margin-top: 20px;
}


.upload {
	position: relative;
}

#upload-button {
	width: 200px;
	height: 50px;
	color: white;
	background-color: $gray;
	text-align: center;
	border-radius: 3px;
	float: right;
	margin-right: 150px;
	position: absolute;
	left: 150px;
	border-radius: 100px;
	cursor: pointer;
    top: 464;
    font-weight: 300;
}

.btn-text {
	margin-top: 15px;
	font-size: 15px;
}

#imgInp {
	float: right;
	position: absolute;
	left: 150px;
	z-index: 2;
	width: 200px;
	height: 50px;
	opacity: 0;
	border-radius: 100px;
	cursor: pointer;
    top: 464;
}

#preview {
	width: 80px;
	height: 80px;
	float:	right;
}

#send-invite {
	position: relative;
}

#send-invite .invite-icon {
	position: absolute;
	left: 208px;
	top: 6px;
	cursor: pointer;
}
#invite-submit {
	background: none;
	border: none;
	color: white;
	font-size: 15px;
  font-weight: 600;
	cursor: pointer;
	background-color: $orange;
	color: white;
	width: 80%;
	height: 50px;
	border-radius: 25px;
	font-size: 17px;
	border: none;
	box-shadow: none;
	float: left;
	margin-left: 10%;
	cursor: pointer;
    margin-top: 5%;
  font-family: $generic-font;
  text-transform: center;
}

#invite-submit:hover {
	border: 1px solid $orange;
	background: white;
	color: $orange;

}

.invite-icon {
	height: 30px;
	width: 30px;
	margin-bottom: -4px;
}

#event_partner_id {
	width: 60%;
	background: white;
	height: 50px;
	font-size: 12pt;
	margin-left: 20%;
}

#hour-labels {
	float: left;
	margin-left: 108px
}

#hours {
	float: left;
	margin-left: 25px;
}

.hour{
	height: 20px;
}

.day {
	height: 20px;
}

.invite-icon path {
	fill: white;
}

/////////////////////////////////////////

.event-form-right {
	float: right;
	width: 350px;
	height: 100%;
}

.event-form-right .form-row {
	margin-left: 0px;
    font-weight: 300;
    font-size: 15px;
}

.event-types {
	height: 50px;
	color: $gray;
	cursor: pointer;
	border-radius: 100px;
    font-weight: 300;
    font-size: 15px;
}

.event-type {
	height: 100%;
	float: left;
	width: 33.3%;
	background: none;
	text-align: center;
	line-height: 50px;
	background: white;
}

.round-left {
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px; 
}

.round-right {
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px; 	
}

.event-type.selected {
	background: $dark-gray;
	color: white;
}

.no-mobile .event-type:hover {
	background: $dark-gray;
	color: white;
}

.event-quest {
	text-align: center;
	color: white;
	margin: 10px 0px;
}

.event-attrs-1 {
	width: 270px;
	height: 60px;
	margin: 0 auto;
	margin-left: calc(50% - 147px)
}

.event-attr.no-left {
	margin-left: 0px;
}

.event-attrs-2 {
	width: 270px;
	height: 60px;
	margin: 0 auto;
	margin-left: 80px;
}

.event-modal {
	.event-attrs-2 {
		margin-left: 63px;
	}
}

.event-attr {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	float: left;
	margin-left: 10px;
	background: white;
	position: relative;
	cursor: pointer;
}




.event-attr.activity {
	margin-top: 0px;
}

.event-attr.discussion.selected  { background: $catyellow;}
.event-attr.activity.selected  { background: $catturq;}
.event-attr.party.selected  { background: $catpurple;}
.event-attr.food.selected  { background: $catorange;}
.event-attr.games.selected  { background: $catgreen;}
.event-attr.show.selected  { background: $catblue;}
.event-attr.music.selected  { background: $catred;}
.event-attr.shaman.selected  { background: $catdarkblue;}
.event-attr.discussion.selected .attr-text  { color: white; }
.event-attr.activity.selected .attr-text  { color: white; }
.event-attr.party.selected .attr-text  { color: white; }
.event-attr.food.selected .attr-text  { color: white; }
.event-attr.games.selected .attr-text  { color: white; }
.event-attr.show.selected .attr-text  { color: white; }
.event-attr.music.selected .attr-text  { color: white; }
.event-attr.shaman.selected .attr-text  { color: white; }
.event-attr.discussion .attr-text  { color: $catyellow; }
.event-attr.activity .attr-text  { color: $catturq; }
.event-attr.party .attr-text  { color: $catpurple; }
.event-attr.food .attr-text  { color: $catorange; }
.event-attr.games .attr-text  { color: $catgreen; }
.event-attr.show .attr-text  { color: $catblue; }
.event-attr.music .attr-text  { color: $catred; }
.event-attr.shaman .attr-text  { color: $catdarkblue; }
.no-mobile {
	.event-attr.discussion:hover .attr-text  { color: white; }
	.event-attr.activity:hover .attr-text  { color: white; }
	.event-attr.party:hover .attr-text  { color: white; }
	.event-attr.food:hover .attr-text  { color: white; }
	.event-attr.games:hover .attr-text  { color: white; }
	.event-attr.show:hover .attr-text  { color: white; }
	.event-attr.music:hover .attr-text  { color: white; }
	.event-attr.shaman:hover .attr-text  { color: white; }
	.event-attr.discussion:hover  { background: $catyellow;}
	.event-attr.activity:hover  { background: $catturq;}
	.event-attr.party:hover  { background: $catpurple;}
	.event-attr.food:hover  { background: $catorange;}
	.event-attr.games:hover  { background: $catgreen;}
	.event-attr.show:hover  { background: $catblue;}
	.event-attr.music:hover  { background: $catred;}
	.event-attr.shaman:hover  { background: $catdarkblue;}
	.event-attr:hover svg path, .event-attr.selected svg path {
		fill: white;
	}
}
.event-attr.selected svg path {
	fill: white;
}

.attr-text {
	position: absolute;
	bottom: 11px;
	font-size: 10px;
	width: 100%;
	text-align: center;
    font-weight: 400;
}

.attr-pic {
	height: 25px;
	width: 100%;
    margin: 0 auto;
	margin-top: 7px;
}

.event-requirements {
	width: 60px;
	height: 60px;
	float: left;
}

.event-requirement {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	float: left;
	cursor: pointer;
	background: white;
	position: relative;
}

.event-requirement.no-left {
	margin-left: 0px;
}

.event-requirement:hover, .event-requirement.selected {
	background: $dark-gray;
}

.event-requirement:hover .require-text, .event-requirement.selected .require-text {
	color: white;
}

.require-text {
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: gray;
	line-height: 60px;
}

.requirement-question {
	margin-bottom: 8px;
  font-weight: 300;
  font-size: 15px;
  padding: 0px 15px;
  margin-left: 60px;
	margin-top: 20px;
}




