@import 'variables';

#faq-container {
	background: white;
    position: absolute;
}

.faq-question a {
	color: $light-turq;
}

#faq-content {
	margin: 0 auto;
	padding: 0px 25vw;
	font-family: $generic-font;
    height: 100%;
    box-sizing: border-box;
}

#faq-header {
	margin-top: 66px;
	margin-bottom: 66px;
	color: $super-light-turq;
}

.faq-question {
	margin-bottom: 22px;
	width: 100%;
}

.faq-answer {
	margin-bottom: 44px;
	width: 100%;
}
