@import 'variables';

#faq-container {
	background: $super-light-gray;
}

.faq-question a {
	color: $light-turq;
}

#faq-content {
	margin: 0 auto;
	width: 806px;
	font-family: $generic-font;
}

#faq-header {
	margin-top: 66px;
	margin-bottom: 66px;
	color: $super-light-turq;
}

.faq-question {
	margin-bottom: 22px;
	width: 806px;
}

.faq-answer {
	margin-bottom: 44px;
	width: 806px;
}
