@import 'variables';


.numbers-container {
	width: 280px;
	margin: 0 auto;
	margin-top: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.start-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	top: 0;
}

.start {
	position: fixed;
	font-family: "Comic Sans MS", cursive, sans-serif;
	width: 400px;
	height: 100px;
	font-size: 100px;
	line-height: 100px;
	background: $green;
	border-radius: 5px;
	color: white;
	left: calc(50% - 200px);
	top: 200px;
	text-align: center;
	cursor: pointer;
}

.start:hover {
	width: 450px;
	height: 125px;
	line-height: 125px;
	left: calc(50% - 225px);

}


.timer {
	height: 50px;
	width: 50px;
	position: absolute;
	font-size: 50px;
	top: 50px;
	left: 50px;
}

.number {
	float: left;
	margin-left: 20px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	text-align: center;
	color: $red;
	cursor: pointer;
	font-family: "Comic Sans MS", cursive, sans-serif;
}


.inputs-container {
	width: 730px;
	margin: 0 auto;
	margin-top: 155px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.input {
	height: 100px;
	width: 100px;
	float: left;
	border-radius: 100px;
	border: none;
	font-size: 50px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.ops-container {
	width: 280px;
	margin: 0 auto;
	margin-top: 350px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	.op {
		width: 50px;
		height: 50px;
		text-align: center;
		color: $blue;
		float: left;
		font-size: 50px;
		margin-left: 20px;
		margin-bottom: 20px;
		cursor: pointer;
	}
	.op:nth-child(5n) {
		margin-left: 50px;
	}
}

.equals-container {
	width: calc(50% - 395px);
	font-size: 50px;
	float: right;
	margin-top: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 30px;
	.equals, .answer {
		width: 50px;
		height: 50px;
		float: left;
	}

}


.number-input {
	border: 1px solid $red;
}

.op-input {
	margin-top: 50px;
	border: 1px solid $blue;
}