@import 'variables';

html {
	height: 100%;
}

body {
	margin: 0;
  padding-left:62px;
  background-color: $super-light-gray;
  position: relative;
  height: 100%;
}

a {
	color: $dark-gray;
}

.head-1 {
	font-weight: 600;
	font-size: 36px;
}

.head-2 {
	font-weight: 700;
	font-size: 28px;
}

.head-3 {
	font-weight: 700;
	font-size: 22px;
}

.head-4 {
	font-weight: 600;
	font-size: 20px;
}

.head-5 {
	font-weight: 400;
	font-size: 15px;
}

.head-6 {
	font-weight: 400;
	font-size: 12px;
}

.heavy {
	font-weight: 700;
}

.dark-gray {
	color: $dark-gray;
}

.light-gray {
	color: $light-gray;
}

.gray {
	color: $gray;
}

.green {
	color: $green;
}

.black {
	color: black;
}

.blue {
	color: $blue;
}

.white {
	color: white;
}

.red {
	color: red;
}

.logo.active {
	color: $light-turq;
}

.active svg path {
	fill: $light-turq;
}

.content-container {
	float: left;
	width: 100%;
	font-family: $generic-font;
 // min-height: 800px;
  background-color: $super-light-gray;
}

.screen {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: .3;
	bottom: 0
}

input:focus {outline: none; }



