@import 'variables';

html {
	height: 100%;
}

body {
	margin: 0;
  position: relative;
  height: 100%;
}

a {
	color: $dark-gray;
}

#faq {
	color: white;
}

.head-1 {
	font-weight: 600;
	font-size: 36px;
}

.head-2 {
	font-weight: 700;
	font-size: 28px;
}

.head-3 {
	font-weight: 700;
	font-size: 22px;
}

.head-4 {
	font-weight: 600;
	font-size: 20px;
}

.head-5 {
	font-weight: 400;
	font-size: 15px;
}

.head-6 {
	font-weight: 400;
	font-size: 12px;
}

.heavy {
	font-weight: 700;
}

.dark-gray {
	color: $dark-gray;
}

.light-gray {
	color: $light-gray;
}

.gray {
	color: $gray;
}

.green {
	color: $green;
}

.black {
	color: black;
}

.blue {
	color: $blue;
}

.white {
	color: white;
}

.red {
	color: red;
}

.orange {
	color: $orange;
}

.logo.active {
	color: $light-turq;
}

.active svg path {
	fill: black;
}

.active #cliq-logo {
	color: black;
}

.content-container {
	float: left;
	width: 100%;
	font-family: $generic-font;
 // min-height: 800px;
  background-color: $super-light-gray;
  position: relative;
}

.screen {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: .3;
	bottom: 0
}

input:focus {outline: none; }
textarea:focus {outline: none; }

#send-feedback {
	font-size: 20px;
	position: fixed;
	bottom: 0px;
	right: 15px;
	font-family: $generic-font;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 5px;
	color: $dark-gray;
	cursor: pointer;
}

#send-feedback:hover {
	background-color: $gray;
	color: white;
}

#feedback {
	position: fixed;
	height: 276px;
	width: 300px;
	bottom: 0;
	right: 15px;
	font-family: $generic-font;
	color: $dark-gray;
	text-align: center;
	background: $light-gray;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: none;
}

#fb-content {
	border: none;
	height: 150px;
	width: 270px;
	margin-top: 20px;
	font-size: 18px;
}

#send-fb {
	border: none;
	background-color: $light-turq;
	color: white;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	border-radius: 15px;
	cursor: pointer;
}

#send-fb:hover {
	border: 1px solid $light-turq;
	background: white;
	color: $light-turq
}

#feedback-message {
	width: 270px;
	margin-left: 15px;
	margin-top: 10px;
	height: 33px;
}

.background-gray {
	background: $super-light-gray;
}



