@import 'variables';

#messages-container {
	float: left;
	width: 100%
}

.message-content-container {
	width: 100%
}

.message-content {
	margin: 0 auto;
	width: 965px;
}

#messages-header {
	height: 64px;
	width: 100%;
	background-color: $light-turq;
	float: left;
	font-family: $generic-font;
}



#messages-header-actions {
	width: 965px;
	margin: 0 auto;
	margin-top: 17px;
}

#new-message {
	float: left;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 50px;
	background-color: white;
	margin-right: 30px;
	margin-left: 20%;
}

#message-sort-by {
	float: left;
	margin-right: 10px;
}

#message-sort {
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 50px;
	background-color: $darkest-gray;
	color: $light-gray;
	float: left;
	margin-right: 30px;
}

#search-messages {
	float: left;
	background-color: white;
	padding: 5px 80px 5px 15px; 
	border-radius: 50px;
}

#conversations {
	float: left;
	margin: 50px 0px 75px 0px;
	height: 450px;
	width: 385px;
	overflow-y: scroll; 
}

.conversation.current {
	background-color: $orange;
	color: white;
	float: left;
	.convo-school {
		color: white;
	}
	.convo-last-message {
		color: white;
	}
}


.convo-link {
	color: $dark-gray;
}

#messages {
	width: 530px;
	height: 450px;
	float: left;
	margin: 50px 0px 75px 50px;
}

.convo {
	height: 75px;
	width: 367px;
}

.convo-pic {
	float: left;
	width: 65px;
	height: 65px;
	margin: 5px 0px 0px 5px
}

.convo-details {
	float: left;
	width: 300px;
	height: 75px;
	margin-left: 5px;
	font-family: $generic-font
}

.convo-name {
	float:left;
	font-weight: 600;
}

.convo-date {
	float: right;
	font-weight: 600;
	margin-right: 5px;
}

.convo-school {
	float: left;
	clear: left;
}

.convo-last-message {
	float: left;
	font-weight: 600;
	clear: left;
}

.message-history {
	height: 350px;
	width: 515px;
	overflow-y: scroll;
	overflow-x: hidden; 
}

.message {
	width: 370px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	margin-top: 9px;
	color: white;
	font-family: $generic-font
}

.message.sent {
	background-color: $orange;
	float: right;
	padding-right: 15px;
}

.message.received {
	background-color: $light-turq;
	float: left;
	margin-right: 5px;
}

.date {
	margin-top: 5px;
	font-size: 13px;
}

.date.sent {
	float: left;
	margin-right: 5px;
	padding-right: 13px;
}

.date.recieved {
	float: left;
	margin-left: 10px;
}

.message-block {
	float: left;
	width: 99%;
	margin-left: 5px;
}

#chat-box {
	float: left;
	height: 65px;
	width: 440px;
	border: 1px solid $gray;
	margin-top: 10px;
}

#chat-box-pic {
	float: left;
	height: 70px;
	width: 70px;
	margin-left: 5px;
	margin-top: 10px;
}

#message-actions {
	width: 522px;
	float: left;
	font-family: $generic-font;
	margin-top: 5px;
}

.message-reply {
	float: right;
	background-color: $red;
}

.message-invite {
	float: left;
	background-color: $red;
}

.result-action.hit-reply {
	margin-right: 10px;
	margin-left: 26px;
	cursor: pointer; 
	cursor: hand; 
}

.reply {
	cursor: pointer;
}

.action-button.mes-action {
	padding: 10px 7px;
}

.mes-action .action-icon {
	margin-top: -7px;
}

.mes-action .result-action {
	margin-top: 0px;
	font-size: 20px;
}

.conversation {
	float: left;
}

.conversation.current:hover {
	background-color: $orange;
}

.conversation:hover {
	background-color: $light-gray;
}

