@import 'variables';

#messages-container {
	float: left;
	width: 100%;
  background-color: #fff;
  position: static;
}

.message-content-container {
	width: 100%
}

.message-content {
	width: 40%;
	height: 100%;
	position: fixed;
	background: $light-turq;
}

#thread-container {
	width: 60%;
	height: 100%;
	position: fixed;
	right: 0;
}

#messages-header {
	height: 64px;
	width: 100%;
	background-color: $light-turq;
	float: left;
	font-family: $generic-font;
}



#messages-header-actions {
	width: 965px;
	margin: 0 auto;
	margin-top: 17px;
}

#new-message {
	float: left;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 50px;
	background-color: white;
	margin-right: 30px;
	margin-left: 20%;
}

#message-sort-by {
	float: left;
	margin-right: 10px;
}

#message-sort {
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 50px;
	background-color: $darkest-gray;
	color: $light-gray;
	float: left;
	margin-right: 30px;
}

#search-messages {
	float: left;
	background-color: white;
	padding: 5px 80px 5px 15px; 
	border-radius: 50px;
}

#conversations {
	margin: 0 auto;
	height: 80%;
	width: 385px;
	overflow-y: scroll;
	margin-top: 62px; 
}

.conversation {
	background: white;
}

.conversation.current {
	background-color: $orange;
	color: white;
	float: left;
	.convo-school {
		color: white;
	}
	.convo-last-message {
		color: white;
	}
}


.convo-link {
	color: $dark-gray;
}

#messages {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	margin-top: 62px;
}

.convo {
	height: 75px;
	width: 367px;
}

.convo-pic {
	float: left;
	width: 65px;
	height: 65px;
	margin: 5px 0px 0px 5px
}

.convo-details {
	float: left;
	width: 300px;
	height: 75px;
	margin-left: 15px;
	font-family: $generic-font
}

.convo-name {
	float:left;
	font-weight: 600;
    margin-top: 9px;
}

.convo-date {
	float: right;
	font-weight: 600;
	margin-right: 15px;
    margin-top: 9px;
    color:$gray;
}

.convo-school {
	float: left;
	clear: left;
    font-weight: 300;
    margin: 2px 0px;
}

.convo-last-message {
	float: left;
	font-weight: 600;
	clear: left;
}

.message-history {
	height: 68%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden; 
}

.message {
	width: 77%;
    padding: 10px 15px 10px 15px;
	border-radius: 10px;
	margin-top: 9px;
	color: white;
	font-family: $generic-font;
    font-weight: 300;
}

.message.sent {
	background-color: $turq;
	float: right;
	padding-right: 15px;
}

.message.received {
	background-color: $light-turq;
	float: left;
	margin-right: 5px;
}

.date {
	margin-top: 20px;
	font-size: 13px;
    font-weight: 300;
    color:$gray;
}

.date.sent {
	float: left;
	margin-right: 5px;
	padding-right: 13px;
}

.date.recieved {
	float: left;
	margin-left: 10px;
}

.message-block {
	float: left;
	width: 99%;
}

#chat-box {
	float: left;
	height: 64px;
	width: 70%;
	border: 1px solid $light-gray;
	margin-top: 10px;
  margin-right: 5px;
  font-size: 15px;
	font-weight: 300;
	font-family: $generic-font;
}

#chat-box-pic {
	float: left;
	height: 70px;
	width: 70px;
	margin-left: 5px;
	margin-top: 10px;
}

#message-actions {
	width: 70%;
	float: left;
	font-family: $generic-font;
	margin-top: 5px;
}

.message-reply {
	float: right;
	background-color: $red;
}

.message-invite {
	float: left;
	background-color: $red;
}

.result-action.hit-reply {
	margin-right: 10px;
	margin-left: 32px;
	cursor: pointer; 
	cursor: hand; 
}

.reply {
	cursor: pointer;
}

.action-button.mes-action {
	padding: 10px 7px;
    margin-top:5px;
}

.mes-action .action-icon {
	margin-top: -3px;
    margin-left: 3px;
    height:25px;
    width:25px;
}

.mes-action .result-action {
	margin-top: 0px;
	font-size: 17px;
    font-weight:600;
}

.conversation {
	float: left;
}

.conversation.current:hover {
	background-color: $orange;
}

.conversation:hover {
	background-color: $super-light-gray;
}

.sending-progress {
	float: left;
	margin-top: 7px;
	margin-left: 80px;
}

.message-form {
	width: 100%;
	height: 140px;
	position: absolute;
	bottom: 0px;
}

.convo-block {
	float: right;
	font-weight: 600;
	margin-right: 15px;

	clear: right
}

.block {
	color: $gray;
}

.block:hover {
	color: $red;
}


