@import 'variables';

#search-container {
	min-height: 125px;
	height: 100%;
	float: left;
	font-family: "proxima-nova", sans-serif;
	background-size: cover;
	position: fixed;
	width: 40%;
	background-image: image_url("jump_side.png");
}

#search-content {
	float: left;
	position: relative;
}

#results-content {
	float: left;
	height: 100%;
}

#search-form {
	float: left;
	margin-left: 100px;
	margin-top: 160px;
	font-weight: 400;
	font-size: 28px;
}

#activity {
	width: 370px;
  background-size: cover;
  color: $gray;
  font-family: "proxima-nova",sans-serif;
}

#results-container {
	height: 100%;
	width: 60%;
	background-color: white;
	font-family: "proxima-nova", sans-serif;
	float: right;
	overflow-y: hidden;
}

#results-container.background-gray {
	background: $super-light-gray;
	overflow-y: scroll;
}

#results-content {
}

#query {
	margin: 0 auto;
	width: 100%;
  font-weight:700;
}

#query-1 {
	float: left;
}

#query-location {
	float: left;
	border: none;
	margin-top: 9px;
	margin-bottom: 27px;
	font-weight: 700;
	opacity: 1;
	height: 38px;
  font-family: "proxima-nova",sans-serif;
  width: 370px;
  clear: left;

}

#query-2 {
	float: left;
	clear: left;
	margin-bottom: 9px;
}

#query-interests {
	float: left;
	clear: left;
	margin-top: 6px;
	width: 85%;
}

.search-term.searched {
	height: 40px;
    line-height: 1.4;
}

.searched:hover {
	border: 1px solid $red;
	height: 38px;
	cursor: pointer;
    line-height: 1.4;
}

.query-interest {
	float: left;
	margin-right: 6px;
	border: none;
	height: 38px;
	color: $dark-gray;
	margin-bottom: 6px;
	font-weight: 700;
	font-size: 22px;
}

#activity {
	opacity: 1;
  font-family: "proxima-nova",sans-serif;
}

.search-term {
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
	font-size: 22pt;
}

#add {
	float: left;
	margin-right: 15px;
	background-color: $gray;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
}

#search-query {
	float: right;
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
	border:	none;
	cursor: pointer;
	height: 62px;
	width: 142px;
    color: $red;
  margin-top: 5px;
  font-family: "proxima-nova",sans-serif;
  position: absolute; 
  bottom: -100px;
}

#searching {
	font-size: 50px;
	margin-top: 160px;
	color: $gray;
}

#search-query:hover {
	color: white;
	background: $red;
}

#query-row-1 {
	margin: 0 auto;
}

#results {
	width: 100%;
	float: left;
	background: white;
	height: 100%;
	margin-top: 30px;
}

#search-results {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}
#results-header {
	float: left;
	width: 100%;
}

#found {
	font-weight: 400;
	float: left;
  color: $dark-gray;
}

#sort-by {
	float: right;
    font-weight:400;

}

#sort-term {
	float: right;
	margin-left: 15px;
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
    font-weight:400;
}

.result {
	width: 284px;
	height: 256px;
	float: left;
	margin-right: 38px;
	background-color: white;
	margin-top: 38px;
	overflow-y: hidden; 
	overflow-x: hidden;
}

.result:nth-child(2n) {
	margin-right: 0px;
}

.profile-pic-card {
	height: 72px;
	width: 72px;
	float: left;
}

.card-header {
	float: left;
	margin-left: 14px;
	margin-top: 10px;
}

.card-name {
	font-size: 17px;
	font-weight: 700;
	float: left;
}

.card-school {
	font-size: 14px;
	font-weight: 400;
	float: left;
	clear: left;
}

.card-active {
	font-size: 17px;
	float: left;
	clear: left;
}

.mutual {
	float: left;
	clear: left;
	margin-left: 11px;
	width: 75px;
}

.similar {
	float: left;
	margin-left: 33px;
	width: 75px;
}

.similarities {
	float: left; 
	clear: left;
	margin-top: 12px;
	width: 100%;
	height: 170px;
	position: relative;
}

.sim-label {
	height: 35px;
	width: 35px;
	float: left;
}

.sug-label {
	color: $light-turq;
}

.sim {
	font-size: 22px;
	font-weight: 700;
  line-height: 1.1;
  float: left;
  margin-left: 5px;
	margin-top: 4px;
    
    border-radius: 8px;
}

.sim-label g path {
	fill: $red;
}

.suggestions {
	float: left;
	padding: 0px 12px;
	margin-top: 4px;
	max-height: 70px;
	overflow-y: hidden; 
}

.suggestion {
	background-color: $orange;
	border-radius: 50px;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 4px;
	float: left;
	margin-right: 5px;
    height: 20px;
    line-height: 1.3;
}

.result-actions {
	float: left;
	font-size: 17px;
	font-weight: 600;
	bottom: -2px;
	position: absolute;	
  line-height: 1.2;
  padding: 10px 12px 0px;
  width: 260px;
  background-color: $light-turq;
}

.action-button {
    color: white;
    border-radius: 4px;
  padding: 7px;
  width: 114px;
}

.invite-btn {
	float: left;
}

.chat {
	float: right;
}

.chat .result-action {
	float: right;
	margin-right: 7px;
}

.invite-user .result-action {
	float: left;
	margin-left: 16px;
}

.chat .action-icon {
	float: right;
}

.action-icon {
	height: 35px;
	width: 35px;
	float: left;
	margin-top: -12px;
}

.action-icon path {
	fill: white;
}

.result-action {
	line-height: 1.3;
	margin-top: -5px;
}


#invite-modal-container {
	float: left;

}

.no-int-container {
	width: 80%;
	margin: 0 auto;
}

.no-ints {
	font-size: 30px;
	margin-top: 160px;
	text-align: center;
}

#choose-cats {
	color: $light-turq;
}

#choose-cats:hover {
	text-decoration: underline;
}




#no-one-around {
	height: 400px;
	margin-bottom: 50px;
}

#no-one-text {
	padding-top: 100px;
	font-weight: 400;
	width: 600px;
	margin: 0 auto;
}

#cliq-invite {
	margin: 0 auto;
	width: 125px;
	background-color: $light-turq;
	color: white;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
}

#cliq-invite:hover {
	color: $light-turq;
	background: white;
	border: 1px solid $light-turq;
}

#post-invite-content {
	width: 600px;
	margin: 0 auto;
}

#preview-text {
	color: gray;
	float: left; 
	clear: left;
}

#friend-invite {
	padding-top: 60px;
}

#enter-email {
	float: left;
	margin-right: 10px;
	margin-top: 7px;

}

#invite-email {
	float: left;
	border: none;
	width: 250px;
	height: 40px;
	border-radius: 50px;
	padding-left: 15px;
	padding-right:	40px;
	font-weight: 400;
}

#what-send {
	float: left;
	clear: left;
}

#send-cliq-invite {
	width: 150px;
	height: 40px;
	color: white;
	background-color: $light-turq;
	float: left;
	clear: left;
	text-align: center;
	border-radius: 50px;
	border: none;
	margin-top: 27px;
	margin-bottom: 20px;
	margin-left: 216px;
	cursor: pointer;
}

#send-cliq-invite:hover {
	color: $light-turq;
	background: white;
	border: 1px solid $light-turq;
}

#sent-invite {
	float: left;
	clear: left;
	margin-left: 265px;
}

.ac-image {
	position: absolute;
	right: 5px;
	top: 2px;
	height: 30px;
	width: 30px;
}

.ui-menu-item {
	height: 35px;
	position: relative;
	font-size: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	cursor: pointer;
}

.ui-corner-all {
	margin-top: 10px;
}


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  // background-color: white;
  // border-color: #ccc;
  // border-color: rgba(0, 0, 0, 0.2);
  // border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  // -webkit-background-clip: padding-box;
  // -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }

  .ui-widget-content .ui-state-focus {
  	background-color: white;
  }

}

.ui-widget-content {
	border: none;
	background: white;
	color: $dark-gray;
}

.ui-menu-item:hover {
	border: none;
	font-weight: 400;
	color: white;
	background-color: $light-turq;
}



