@import 'variables';

.swiped-result {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: white;
	position: relative;
	-webkit-animation-duration: .5s;
}

#swiped-content {
	width: 80%;
	margin-top: 37px;
	height: 100%;
	margin: 0 auto;
}

.swiped-content {
}

.swiped-profile-pic-card {
	width: 83px;
	height: 83px;
	border-radius: 100px;
	float: left;
}

.swiped-card-name {
	font-weight: 700;
}

.swiped-card-school {
	font-weight: 700;
}

.swiped-similarities {
	float: right;
	width: 250px;
}

.swiped-similar {
	float: right;
}

.swiped.sim-label {
	height: 65px;
	width: 65px;
}

.swiped-sim {
	float: left;
	margin-top: 11px;
	margin-left: 12px;
}

.suggestions-container {
	float: left;
	clear: left;
	margin-top: 20px;
	height: 60%;
	overflow-y: scroll;
}

.swiped-suggestions {
	float: left;
	width: 90%;
	margin-left: 5%;
	height: 100%;
}

.swiped-suggestion {
	float: left;
	width: 49%;
	margin-bottom: 5px;
	height: 50%;
}

.swiped-suggestion:nth-child(2n) {
	margin-right: 0px;
	float: right;
}

.swiped-sug-name {
	height: 23px;
	text-align: center;
	background-color: $blue;
	padding-left: 14px;
	padding-top: 5px;
	color: white;
}

.swiped-sug-pic {
	width: 100%;
	height: calc(100% - 31px);
}


.swiped-actions {
	position: absolute;
	right: 67px;
	bottom: 55px;
	left: 67px;
}

.swipe-action-content {
	width: 100%;
	float: left;
}

.swiped.chat {
	background-color: $light-turq;
	width: 167px;
	height: 74px;
	border-radius: 37px;
	float: left;
	position: relative;
}

.swipe-next {
	position: relative;
	background-color: $light-turq;
	width: 167px;
	height: 74px;
	color: white;
	float: right;
	border-radius: 37px;
	cursor: pointer;
}

.swiped-action-icon {
	margin-left: 50px;
	margin-top: 5px;
	height: 65px;
	width: 65px;
}

.swiped-action-icon path {
	fill: white;
}

.swipe-info {
height: 37px;
width: 37px;
margin-right: calc(50% - 186px);
margin-left: calc(50% - 186px);
border-radius: 50px;
float: right;
margin-top: 17px;
}

.swipe-sex {
	float: left;
	background-color: $super-light-gray;
	border-radius: 100px;
	width: 167px;
	height: 74px;
}

.sex-icon {
	height: 60px;
	width: 60px;
	float: left;
	margin-top: 7px;
	margin-left: 4px;
}

.sex-text {
	float: left;
	margin-top: 28px;
	margin-left: 4px;
}

.swiped-actions .chat-user {
	float: left;
	width: 167px;
}

#no-one {
	font-size: 50px;
	color: $light-gray;
	text-align: center;
}