@import 'variables';


thead {
	color: $light-turq 
}



.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; color: $light-turq; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

#ui-datepicker-div {
	font-family: $generic-font;
	color: white;
}

.ui-widget-header {
	background: none;
	background-color: $light-turq;
	color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
	background-color: $light-turq;
	color: white;
    font-weight: 300;
    font-family: "proxima nova";
}

.ui-timepicker-div dl dd {
	color: $dark-gray;
	right: 60px;
	margin-left: 120px;
	margin-top: 10px;
}

.ui-widget .ui-widget {
	right: 45px;
}

.ui-datepicker-current-day .ui-state-default {
	background-color: $dark-turq;
}

.ui_tpicker_hour_slider {
	background-color: $dark-turq;
}

.ui_tpicker_minute_slider {
	background-color: $dark-turq;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -0.9em;
	margin-left: -.6em;
}

.ui-slider-handle:focus {
	outline: none;
}