@import 'variables';

.user-container {
	background: $super-light-gray;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	font-family: $generic-font;
	overflow-x: hidden; 
}

.profile-pic {
	width: 165px;
	height: 165px;
	border-radius: 100px;
	float: left;
}

#main-profile-container {
	width: 100%;
	float: left;
	background-color: $light-turq;
  height: 248px;
}

.main-profile-info {
	margin: 0 auto;
	width: 824px;
	padding-top: 40px;
	padding-bottom: 35px;
	.left {
		float: left;
		color: white;
	}
	.right {
		float: right;
		color: $dark-gray;
	}
}

#profile-container {
	height: 100%;
	position:	fixed;
	left: 0;
	width: 40%;
	color: white;
	text-align: center;
	z-index: 4;
}

.profile-info {
	width: 100%;
	height: 100%;
	#school-self {
		font-weight: 300;
	}
}

.profile-info * {
	float: none;
}

.profile-info .profile-pic {
	margin-top: 40px;
	margin-bottom: 30px;
}

.account-stats {
	color: $dark-turq;
	margin-top: 20px;
	margin-bottom: 20px;
}

#self-search {
	border: none;
	width: 200px;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 21px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50px;
	height: 36px;
}


#name {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
  font-weight:700;
}

#school {
	font-weight: 400;
	margin-left: 50px;
	float: left;
	clear: left;
}

#active {
	float: left;
	margin-left: 50px;
	clear: left;
}

#event-count {
	float: left;
	margin-top: 30px;
	margin-right: 10px;
}

#event-label {
	float: left;
	margin-top: 33px;
}

#with {
	font-size: 15px;
	clear: left;
	float: left;
	margin-left: 35px;
}

#people-count {
	float: left;
	margin-right: 10px;
	clear: left;
}

#people-label {
	float: left;
	margin-top: 3px;
}

#interest-sum {
	float: left;
	margin-right: 10px;
	clear: left;
}

#interest-label {
	float: left;
	margin-top: 3px;
}

.profile-actions {
	font-size: 22px;
	font-weight: 700;
	.bubble {
		border-radius: 50px;
		padding-left: 15px;
		padding-right: 15px; 
		background-color: white;
		margin-right: 20px;
        height:35px;
        line-height: 1.6;
	};
	#edit-profile {
		float: left;
	};
	#add-interests {
		color: $red;
		text-decoration: none;
		margin: 0 auto; 
		width: 200px;
		cursor: pointer;
	};
	#add-interests:hover {
		background: $red;
		color: white;
	}
	#quick-add {
		width: 200px;
		margin: 0 auto;
		margin-top: 15px;
		cursor: pointer;
	}
	#quick-add:hover {
		background: $orange;
		color: white;
	}
	#quick-search {
		float: none;
		margin: 0 auto;
	}
}

#interest-count {
	margin-left: 275px;
	margin-top: 50px;
	float: left;
}

.interests-self {
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0;
}

#interest-list {
	margin: 0 auto;
	width: 80%;
}

.cat-section {
	float: left;
	clear: left;
	margin-bottom: 40px;
	margin-top:	40px; 
	width: 100%;
}

.cat-header {
	width: 100%;
	color: $dark-turq;
	font-weight: 700;
	font-size: 22px;
}

.cat-group-self {
	float: left;
	width: 31%;
	margin-right: 2%;
}

.cat-group {
	float: left;
}


.category {
	border-radius: 50px;
	background-color: $orange;
	margin-top: 20px;
	float: left;
	width: 100%;
	height: 26px;
	font-size: 20px;
	font-weight: 500;
  color: $dark-orange;
}


.activities {
	width: 100%;
	float: left;
	clear: left;
	margin-top: 5px;
}

.activity {
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 5px;
	// height: 20px;
	font-weight: 500;
	float: left;
	margin-top: 5px;
	font-size: 16px;
	color: $turq;
}

.cat-name {
	text-align: center;
    line-height: 1.4;

}

.act-name {
	margin-top: 3px;
	position: relative;
	cursor: pointer;
	padding-left: 2px;
	padding-right: 2px;
	color: $orange;
}

.act-name.shared {
	color: $light-turq;
}

.act-name.different:hover {
	background: $orange;
	color: white;
	border-radius: 10px;
}

.more {
	margin-top: 50px;
	border-radius: 50px;
	background-color: white;
	height: 35px;
	font-size: 24px;
	font-weight: 600;
	float: left;
	clear: both;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 50px;
	margin-left: 38%;
}

.dot {
	position: absolute 
}

#top-welcome {
	margin-top: 50px;
	position: absolute;
	top: 50px;
	margin: 0 auto;
	color: #414141;
	font-weight: 400;
	left: 50px;
	width: 480px;
}

#welcome-form {
	margin: 0 auto;
	width: 565px;
	height: 260px;
	background-color: white;
	margin-top: 125px;
	background: white;
	z-index: 5;
	border-radius: 5px;
	text-align: left;
	font-size: 22px;
	font-weight: 400;
	position: relative;
}

#bottom-welcome {
	margin-top: 0px;
position: absolute;
bottom: 85px;
margin: 0 auto;

left: 50px;
width: 480px;
}

#got-it {
	color: white;
	background-color: #18c3bd;
	width: 150px;
	height: 27px;
	position: absolute;
	bottom: 28px;
	left: 158px;
	border-radius: 100px;
	text-align: center;
	padding: 5px 44px;
	cursor: pointer;
}

#got-it:hover {
	background: white;
	color: $light-turq;
	border: 1px solid $light-turq;
}


