<div class="interests">
	<div class="head-2 black" id="interest-count">You've listed <%= user.activities.length%> interests: 
	</div>

	<div id="interest-list">
		
			<% user.category_activities.each do |interest| %>
				<div class="cat-group">
					<div class="category green"><div class="cat-name"><%= interest[0].name %></div></div>
					<div class="activities">
						<% interest[1].each do |activity| %>
							<div class="activity white"><div class="act-name"><%= activity.name %></div></div>
						<% end %> 
					</div>
				</div>
			<% end %>
			<div class="more green">More</div>
	</div>
</div>